header.header.big-container 
    .main-header 
        .menu-logo
            a(href="#").logo-part 
                img(src="../img/logo.png", alt="bright")
            nav.nav 
                ul.nav-ul 
                    li.nav-li
                        a(href="#").nav-link.active  Про нас
                    li.nav-li.dropdown
                        a(href="#").nav-link.dropdown-link Продукти
                        ul.dropdown-content
                            li.nav-li
                                a(href="#").nav-link Продукт1
                            li.nav-li
                                a(href="#").nav-link Продукт2
                    li.nav-li
                        a(href="#").nav-link  Film Cut
                    li.nav-li
                        a(href="#").nav-link  Співпраця
                    li.nav-li
                        a(href="#").nav-link  Навчання
                    li.nav-li
                        a(href="#").nav-link  Контакти
        .other-info                  
            a(href="tel:+48881928014").phone-button   
                img(src="../img/icons/phone.svg", alt="phone").phone-icon
                span +48 881 928014
            .menu-lines 
                img(src="../img/icons/menu.svg", alt="menu")

