.header-container
    header.header
        .big-container 
            .main-header 
                .menu-logo
                    a(href="https://zaslavskayasya.github.io/plivka/dist/index.html").logo-part 
                        img(src="img/logo.png", alt="bright")
                    nav.nav 
                        ul.nav-ul 
                            li.nav-li
                                a(href="#").nav-link.active  Про нас
                            li.nav-li.menu-item-has-children
                                a(href="#").nav-link Продукти
                                ul.sub-menu
                                    li.nav-li
                                        a(href="https://zaslavskayasya.github.io/plivka/dist/graviy.html").nav-link Антигравійні плівки
                                    li.nav-li
                                        a(href="https://zaslavskayasya.github.io/plivka/dist/save.html").nav-link Захисні поліуретанові плівки 
                                    li.nav-li
                                        a(href="https://zaslavskayasya.github.io/plivka/dist/toning.html").nav-link Тонувальні плівки
                                    li.nav-li
                                        a(href="https://zaslavskayasya.github.io/plivka/dist/hibrid.html").nav-link Захисні гібридні плівки TPH
                            li.nav-li
                                a(href="#").nav-link  Film Cut
                            li.nav-li
                                a(href="https://zaslavskayasya.github.io/plivka/dist/contacts.html").nav-link  Співпраця
                            li.nav-li
                                a(href="https://zaslavskayasya.github.io/plivka/dist/contacts.html").nav-link  Навчання
                            li.nav-li
                                a(href="https://zaslavskayasya.github.io/plivka/dist/contacts.html").nav-link  Контакти
                        ul.social-media-part
                            li.social-media-li
                                a(href="#").social-media-link
                                    img(src="img/icons/fb.svg", alt="facebook", width="25", height="26")
                            li.social-media-li 
                                a(href="#").social-media-link 
                                    img(src="img/icons/inst.svg", alt="instagram",  width="24", height="24")
                            li.social-media-li 
                                a(href="#").social-smedia-link 
                                    img(src="img/icons/tiktok.svg", alt="youtube",  width="24", height="24")
                .other-info                  
                    a(href="tel:+48881928014").phone-button   
                        img(src="img/icons/phone.svg", alt="phone",  width="24", height="24").phone-icon
                        span +48 881 928014
                    .menu-lines 
                        img(src="img/icons/menu.svg", alt="menu",  width="30", height="30")