@use "../foundation/base" as b;

.header-container {
  position: relative;
  transition: all 0.4s ease;
}

.header-container .header {
  background-color: #f5f5f7;
  z-index: 9;
  // position: relative;
  transition: all 0.4s ease;
}

#vimeo-player{
  overflow: hidden;
}

.header-video, .main-page iframe, #vimeo-player{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}



body:not(.showfocus) .player a, body:not(.showfocus) .player button, body:not(.showfocus) .player li, body:not(.showfocus) .player span, body:not(.showfocus) .player svg{
  display: none;
}
.ControlBar_module_controls__ea0d6863{
  display: none;
}
.PlayButton_module_playButtonWrapper__fc6bec57{
  display: none;;
}
.header {
  // padding: 20px 15px 16px 15px;
  background-color: #f5f5f7;
  z-index: 9;
  position: relative;
  transition: all 0.4s ease;
  .logo-part {
    width: 112px;
    display: block;

    img {
      width: 100%;
    }
  }
}
.header .big-container{
  padding: 20px 15px 16px 15px;
}
// .sticky-header {
//   // position: fixed;
//   // top: 100px; /* Сховати заголовок вище від видимої області */
//   width: 100%;
//   // background-color: #fff; /* Фоновий колір заголовка */
//   // box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Тінь для створення відчуття виносу */
//   transition: top 0.3s; /* Анімація для плавного відображення */
//   z-index: 1000; /* Завжди вище інших елементів */
// }

.sticky{
  opacity: 0;
  transform: translateY(0);
  transition: all 0.3s ease;
}
.header.sticky {
  position: fixed;
  top: 0px;
  opacity: 1;
  left: 0;
  z-index: 999999;
  width: 100%;
  box-shadow: 1px 1px 10px #ccc;
  transform: translateY(0); 
  transition: all 0.4s ease;
  // transition: all 0.3s ease; /* Анімація для зміни положення шапки */
}


.hidden {
  opacity: 0;
  transition: all 0.4s ease;
  transform: translateY(-100%); /* Анімація для схову шапки */
}



.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  background-color: #f5f5f7;
  left: 0px;
  width: 100%;
  padding: 15px 0px 25px;;
  transform: translateX(-100%);
  transition: all ease-in-out 0.3s;

  &-ul {
    list-style: none;
    padding: 15px 15px;
    text-align: center;
  }
  &-li {
    margin-bottom: 30px;
  }
  &-link {
    font-family: inherit;
    font-size: 1.6rem;
    color: b.$base-color;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;

    &:hover {
      color: b.$accent-color;
    }

    &.active {
      color: b.$accent-color;
    }
  }
}

.nav.active {
  opacity: 1;
  pointer-events: all;
  transform: translateX(0%);
}

.menu-lines {
  cursor: pointer;
}

.other-info {
  display: flex;
}

.phone-button {
  margin-right: 40px;
  margin-top: 1px;
  // &:hover{

  // }
}

.menu-item-has-children {
  position: relative;
  display: inline-block;
  width: 100%;

  .nav-link:first-child  {
    // padding-right: 20px;
  }

  &:after {
    content: "";
    display: block;
    width: 15px;
    display: block;
    height: 7px;
    position: absolute;
    right: 22%;
    top: 7px;
    width: 15px;
    background-image: url("../img/icons/arrdown.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.phone-button span {
  display: none;
}

.sub-menu {
  display: none;
  min-width: 160px;
  padding-left: 0px;
  z-index: 8;
  list-style: none;
  .nav-link {
    font-size: 1.4rem;
  }
}

.menu-item-has-children:hover .nav-link:first-child:after {
  svg {
    fill: b.$accent-color;
  }
}

.menu-item-has-children:hover .sub-menu {
  display: block;
  z-index: 9;
  padding-top: 20px;;
}

@media screen and (min-width: 1120px) {
  .header .logo-part {
    display: block;
    margin-right: 47px;
    min-width: 129px;
    width: 133px;
  }

  .nav {
    opacity: 1;
    pointer-events: all;
    transform: translateX(0%);
    position: relative;
  }

  .menu-logo {
    display: flex;
    align-items: center;
    width: 80%;
  }

  .nav-ul {
    display: flex;
    justify-content: flex-start;
    flex-flow: wrap;
    align-items: center;
    padding: 14px 15px 14px 15px;

  }

  .menu-item-has-children {
    width: auto;
    background-color: b.$background-color;
    padding-right: 30px;
  }

  .menu-item-has-children .dropdown-link {
    padding-right: 14px;
  }

  .sub-menu {
    background-color: b.$background-color;
  }
  .menu-item-has-children:after{
    right: 17%;
  }

  .menu-item-has-children:hover .sub-menu,
  .menu-item-has-children.active .sub-menu {
    position: absolute;
    top: 1.8rem;
    z-index: 999;
    left: 0px;
    min-width: 300px;
    .nav-li {
      padding: 16px 38px;
      text-align: left;

      &:hover {
        background-color: #e7e7e7;
        color: b.$accent-color;
      }
    }

    .nav-link {
      font-size: 1.4rem;
    }
  }

  .nav-link {
    margin-right: 22px;
  }

  .nav-li {
    margin-bottom: 0px;
  }

  .menu-lines {
    display: none;
  }

  .header  .big-container{
    padding: 5px 15px 5px;
  }

  .phone-button {
    border: 2px solid #111;
    display: flex;
    align-items: center;
    padding: 9px 15px;
    text-decoration: none;
    margin-right: 0px;
    transition: all ease 0.3s;
    &:hover{
      background-color: #111;
      span{
        color: #fff;

      }
      img{
        filter: invert(1);
      }
    }
    span {
      display: block;
      color: #111;
      font-family: inherit;
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-decoration: underline;
    }

    .phone-icon {
      margin-right: 24px;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .menu-item-has-children .dropdown-link:after {
    right: 11px;
    top: 7px;
    left: auto;
  }
}

@media screen and (min-width: 1400px) {
  .header .big-container {
    padding: 12px 15px 12px 15px;
  }

  .nav-link {
    margin-right: 38px;
  }
  .nav-ul {
    padding: 19px 15px 10px 51px;

  }
  .menu-item-has-children .dropdown-link {
    padding-right: 34px;
  }

  .menu-item-has-children .dropdown-link:after {
    left: auto;
    right: 39px;
    top: 7px;
  }

  .header .logo-part {
    margin-right: 46px;
    min-width: 159px;
    width: 170px;
  }

  .phone-button {
    align-items: center;
    border: 2px solid #111;
    display: flex;
    margin-right: 0;
    padding: 16px 36px;

    span {
      font-size: 1.6rem;
    }
  }

}

@media screen and (min-width: 1600px) {
  .nav-link {
    margin-right: 31px;
  }
  .menu-item-has-children:after {
    right: 25%;
  }
}

@media screen and (min-width: 1750px) {
  .menu-item-has-children .dropdown-link:after {
    right: 47px;
  
  }
  .nav-link {
    margin-right: 50px;
  }
}
