@use "../foundation/base" as b;

.l-main{
    margin-bottom: 60px;;
}


.main-content{   
    background-size: cover;    
    padding-left: 26px;
    padding-top: 35px ;
    position: relative;
    z-index: 5;
    padding-bottom: 141px;  
}

.main-content.main-page{
    padding-top: 92px;
    // padding-bottom: 162px;    
}

.h1-mega{
    color: #FFF;
    font-family: inherit;
    font-size: 3rem;
    font-style: normal;
    font-weight: 800;
    line-height: 116.5%; /* 34.95px */
    text-transform: uppercase;
    max-width: 90%;
    margin-bottom: 19px;
}


.main-subheader{
    color: #FFF;
    font-family: inherit;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 135%; /* 24.3px */
    margin-bottom: 20px;
}

.micro-subheader{
    color: #FFF;
    font-family: inherit;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 135%; /* 18.9px */
    margin-bottom: 80px;
}


.main-links{
    color: #FFF;
    font-family: inherit;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 135%; /* 18.9px */
    margin-bottom: 24px;
    text-decoration: none;
    position: relative;
    width: fit-content;
    &:after{
        content: "";
        width:7px;
        height: 10px; 
        position: absolute;
        background: url('../img/icons/arr-right.svg');
        background-size: contain;
        background-repeat: no-repeat;
        right: -25px;
        top: 5px;
        transition: all ease 0.3s;
    }
    &:hover{
        &:after{
            right: -40px;
        }
    }
    &-wrap{
        display: flex;
        flex-direction: column;
    }
}


.social-media-block, .langs-block, .mail-link{
    display: none;
}

.social-media-part{
    display: flex;
    max-width: 200px;
    margin: 0 auto 30px;
    justify-content: space-between;
    .social-media-li{
        &:hover{
            img{
                opacity: 0.7;
            } 
        }    
    }
    .social-media-link{
        width: 24px;
        height: 24px;
        display: block;
        box-sizing: border-box;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            
            transition: all ease 0.3s;
        }
    }
}   



.bottom-part{
    background-color: #fff;
    padding: 50px 0px;
    .h2{
        text-align: center;
        margin-bottom: 20px;
    }
    .bold-gray-text{
        max-width: 82%;
        margin: 0 auto 36px;
    }
    .button{
        margin: 0 auto 0px;
        width: 240px;
    }
}

.info-item{
    padding-left: 64px;
    &--list-item{
        position: relative;
        padding-right: 0px;
        &:not(:last-child){
            margin-bottom: 60px;
        }
        &:before{
            content: "";
            display: block;
            width: 35px;
            height: 15px;
            position: absolute;
            left: -61px;
            top: 0px;
            background-image: url('../img/icons/arrow.svg');
            background-repeat: no-repeat;

        }
    }
}


.information-block{
    margin-bottom: 100px;
    .h3{
        margin-bottom: 50px;
    }    
}
.information-part{
    margin-bottom: 70px;;
    .pros-item{
        margin-bottom: 55px;
    }
}
.slid-text-section{
    .h2{
        margin-bottom: 40px;;
    }
    .main-links.type-2{
        margin-left: 50px;
    }
}

.pros{
    &-list{
        // margin: 0px;
    }
    &-item{
        display: flex;
        align-items: center;
        margin-bottom: 31px;
    }
    &-image-wrap{
        margin-right: 40px;
        width: 30px;
        height: 30px;
        min-width: 30px;;
        img{
            width: 100%;;
        }
    }
    &-text{
        color: b.$base-color;
        font-family: inherit;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 500;
        line-height: 140.4%; /* 19.656px */
    }
}


.container-no-end{
    padding-left: 15px;

    .slick-wrap{
        // padding-left: 200px;
        overflow: hidden;
        // width: calc(100% - 400px);
        width: 100%;
        position: relative;
    }
}
.no-end-wrap{
    padding-right: 20px;
    .norm-gray-text {
        margin-bottom: 37px;;
    }
    margin-bottom: 40px;;
}


.blue-section{
    background-color: #DBE3EF;
    padding-top: 47px;
    margin-bottom: 100px;
    overflow: hidden;
    .norm-gray-text{
        margin-bottom: 40px;
        max-width: 90%;
    }
}

.main-links.type-2{
    color: b.$base-color;
    &:after{
        background-image: url(../img/icons/slick-right.svg);
        height: 15px;
        right: -30px;
        width: 14px;
        top: 2px;
    }
    &:hover{
        &:after{
            right: -55px;
        }
    }
}

.illustration-col{
    position: relative;
    height: 233px;
    pointer-events: none;
    .wrap-illustration{
        position: absolute;
        bottom: -13px;
        left: -43%;
        img{
            max-width: 470px;;
        }
    }
}

.slider-main{
    margin-bottom: 20px;
    position: relative;
    .item{
      width: 296px;
      height: 296px;
      min-height: 296px;;
      img{
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    &:after{
        content: "";
        width: 55px;
        height: 55px;
        background-color: b.$background-color;
        background-image: url('../img/icons/search.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 14px;
        position: absolute;
        right: 0px;
        bottom: 0px;
        opacity: 1;
        transition: all 0.3s ease;
        pointer-events: none;
    }

}
  .slider-nav{
    &.slick-dotted.slick-slider{

        margin-bottom: 37px;;
    }
    .slick-list{
      padding-left: 0px;
    }
    .item{
      width: 90px!important;
      height: 90px;
      min-width: 90px;
      margin-right: 13px;;
      overflow: hidden;
    }
}

.information-part{
    .big-gray-text{
        margin-bottom: 67px;
    }
}
.blue-section .norm-gray-text , .no-end-wrap .norm-gray-text{
    margin-bottom: 60px ;
}

.adress{
    &-list{
        margin-bottom: 20px;
    }
    &-li{
        display: flex;
        margin-bottom: 21px;
        position: relative;

    }
    &-img-wrap{
        width: 20px;
        height: 20px;
        margin-right: 24px ;
        img, svg{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &-link{
        color: #111;
        font-family: inherit;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;  
        &:hover{
            text-decoration: underline;
        }      
    }


}



/// *******  FORM   ******* ///

.form-part{
    // padding-top: 30px;
    background-color: #fff;
    padding: 42px 26px;
    margin-bottom: 70px;
    button{
        width: 256px;
        display: block;
        margin: 0 auto;    
    }
    
    // flex-direction: column;
}
.form-2{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 50px;
    .form-row{
        width: 100%;
    }
}
.form-btn{
    position: absolute;
    bottom: 30px;
    left: 30px;
    margin-top: 20px;

    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
}

.form-group {
    margin-bottom: 20px;
    
    label, input{
        color: #676573;
        font-family: inherit;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    label{
        margin-bottom: 10px;;
    }
    input, textarea{
        padding: 20px 16px 16px 16px;
        border: 2px solid #C4C4C4;
        box-sizing: border-box;
    }
  }
  
  input::placeholder,
  textarea::placeholder{
    color: #D1D1D1;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  label, input, textarea {
    display: block;
    margin-bottom: 10px;
  }
  
  input, textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

.form-group {
    margin-bottom: 18px;
}
.button{
    margin-top: 26px;
}

.error-message{
    opacity: 0;
}


/* Customize the label (the container) */
.check-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .check-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 9px;
    left: 0;
    height: 20px;
    width: 20px;
    // background-color: #eee;
    border: 2px solid #095CD9 ;
  }
  
  /* On mouse-over, add a grey background color */
  .check-container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .check-container input:checked ~ .checkmark {
    background-color: transparent;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .check-container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
 .check-container .checkmark:after {
    left: 7px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid rgb(65, 64, 64);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

.text-agree{
    color: #111;
    font-family: inherit;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 195.9%; /* 31.344px */
    padding-left: 45px;
    a{
        color: #095CD9;
        &:hover{
        text-decoration: underline;
        }
    }

}


.partner-section{
    background-color: b.$background-color;
    position: relative;
    .two-cols{
        margin-bottom: 0px;
        padding-bottom: 50px;;
    }
    .norm-gray-text.medium-text{
        margin-bottom: 50px;

    }
}
.partner-section.car-before{
    padding-top: 30px;
    margin-bottom: 0px!Important;
    .form-part{
        margin-bottom: 0px!Important;
    }
}

.element-animation {
    opacity: 0;
    transform: translateY(50px)
}
.element-animation.element-show {
    opacity: 1;
    transform: translateY(0);
    transition: all ease 0.8s;
  }
  .partner-section{
    margin-bottom: 100px;
}

@media screen and (min-width: 500px){
    .illustration-col .wrap-illustration{
        bottom: -7px;
        left: -15%;
    }
}

@media screen and (min-width: 650px){
    .illustration-col .wrap-illustration{
        left: -1%;
    }
    .dropdown .dropdown-link:after{
        right: 35%;
    }

}



@media screen and (min-width: 760px){    
    .main-content{
        // background-image: url(../img/illustrations/main.png);
        padding-left: 85px;
        padding-top: 128px;
        padding-right: 30px;
    }    
    .main-content.main-page{
        padding-top: 130px;
         
    }
    .h1-mega{
        font-size: 40px;
    }
    .col.text-col{
        padding-top: 50px;;

    }
}


@media screen and (min-width: 950px){
    .pros{
        &-list{
            // margin: 0px;
        }
        &-item{
            margin-bottom: 60px;;
        }
        &-image-wrap{
            width: 50px;
            height: 50px;
        }
        &-text{
            font-size: 2rem;
            font-weight: 600;
            max-width: 400px;
        }
    }
    .information-block {
        .pros-item {
            margin-bottom: 40px;
        }
    }
    .blue-section{
        padding-bottom: 10px;
        padding-top: 50px;
        position: relative;
    }
    .col.text-col{
        padding-top: 0px;

    }
    .partner-section.car-before{
        padding-top: 80px;
    }
    .sliders-wrap{
        margin-bottom: 10px;
    }
    .dropdown .dropdown-link:after{
        right: 42%;
    }
    .illustration-col {
        height: 416px; 
    }
    .wrap-illustration img {
        right: -10px;
    }
    .partner-section{
        margin-bottom: 200px;
    }
}


@media screen  and (min-width: 1120px) {
    .bottom-part{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px 70px;
      }
      .bottom-part .h2, .bottom-part .bold-gray-text{
        margin-bottom: 0px;;
      }
      .bottom-part .bold-gray-text{
        max-width: 40%;
        text-align: left;
      }
      .bottom-part .button {
        margin: 0px;
        width: auto;
      }
      .information-block{
        margin-bottom: 171px;
      }
      .social-media-part{
        display: none;
      }
      .dropdown-content {
        min-width: 321px;
        text-align: left;

    }
    .form-2{
        flex-direction: row;
        justify-content: space-between;
    }
    .form-2 .form-row {
        width: 48%;
    }
    .form-btn{
        position: relative;
        bottom: 30px;
        left: 30px;
    }
    .form-part button{
        max-width: 260px;
        margin-left: 0px;;
        transform: translateX(0%);
        left: 0;
    }

}


@media screen and (min-width: 1200px){
    .l-main{
        margin-bottom: 148px;
    }
    .illustration-col{
        height: auto;
        order: 1;                
    }
    .text-col{
        order: 2;
    }
    .illustration-col .wrap-illustration img {
        max-width: 600px;
    }
    .illustration-col .wrap-illustration {
        left: -51%;
        bottom: auto;
        top: 19%;
        
    }

}


@media screen and (min-width: 1460px){
    .main-content {
        padding: 92px 50px 183px 127px;
    }
    .main-content.main-page{
        padding-top: 133px;
    }

    .h1-mega{
        font-size: 70px;
        margin-bottom: 40px;
    }
    .main-subheader{
        font-size: 2.2rem;
    }
    .micro-subheader{
        font-size: 1.8rem;;
        max-width: 400px;;
        font-weight: 400;
    }
    .main-links-wrap{
        flex-direction: row;
    }
    .main-links{
        margin-right: 75px;
        font-size: 1.6rem;
    }
    .social-media-block{
        display: block;
        position: absolute;
        left: -62px;
        top: -15px;
    }
    .social-media{
        &-li{
            margin-bottom: 26px;
            &:hover{
                img{
                    opacity: 0.7;
                } 
            }    
        }
        &-link{
            width: 24px;
            height: 24px;
            display: block;
            img{
                width: 100%;
                transition: all ease 0.3s;
            }
        }
    }   
    .langs{
        &-block{
            display: block;
            position: absolute;
            right: -66px;
            top: -13px;
        }
        &-item{
            margin-bottom: 1px;
        }
        &-link{
            color: b.$lighten-color;
            font-family: inherit;
            font-size: 1.6rem;
            font-style: normal;
            font-weight: 500;
            line-height: 135%; /* 21.6px */
            text-transform: uppercase;
            text-decoration: none;
            &:hover{
                color: b.$base-color;

            }
        }
    }
    .mail-link{
        display: block;
        position: absolute;
        right: -65px;
        bottom: 0px; 
        transform: rotate(-180deg);
        writing-mode: vertical-rl;
        color: b.$base-color;
        font-family: inherit;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 135%; /* 21.6px */
        &:hover{
            text-decoration: underline;
        }
    }
    .bottom-part {
        padding: 66px 55px;
    }
    .bottom-part .bold-gray-text {
        max-width: 48%;
        
    }
    .info-item{
        padding-left: 115px;
        padding-top: 26px;
    }
    .small-header {
        font-size: 1.8rem;
        margin-bottom: 11px;
    }
    .gray-text{
        font-size: 1.8rem;
    }
    
    .info-item--list-item:not(:last-child) {
        margin-bottom: 43px;
    }
    .info-item--list-item:before {      
        height: 20px;
        left: -68px;
        top: 3px;
        width: 52px;
        background-size: contain;
    }
    .info-item--list-item {
        padding-right: 25px
    }
    .blue-section{
        padding-top: 110px;
        padding-bottom: 18px;
        margin-bottom: 153px;;
        .norm-gray-text {
            line-height: 198%;
        }
        .two-cols .col {
            padding-left: 101px;
            width: 48%;
        }
    }
    .illustration-col .wrap-illustration img {
        max-width: 750px;
        right: -0px;
        width: 700px;
    }
    .illustration-col .wrap-illustration {
        left: -12%;
    }
    .information-part{
        .two-cols .col .pros-list, 
        .two-cols .col:nth-child(2) .pros-list {
            padding-left: 102px;
        }
    }
    .information-part{
        margin-bottom: 100px;
        .pros-item {
            margin-bottom: 59px;
        }
    }
    .information-part .big-gray-text {
        margin-bottom: 120px;
    }
    .pros-image-wrap{
        margin-right: 31px;;
    }
    .no-end-wrap{
     padding-top: 20px;
     padding-top: 44px;
     padding-right: 0px;;
     margin-bottom: 219px;
     margin-right: 90px;
     max-width: 413px;
     .norm-gray-text {
        line-height: 223%;
        margin-bottom: 79px;
     }
    }

    .container.slid-text-section {
        padding-top: 26px;
    }
    .slider-main:after{
        width: 90px;
        height:90px;
        background-size: 20px;
    }
    .sliders-wrap{
        display: flex;
        position: relative;
        .slider-nav{
            width: 100px;
            top: 15%;
            right: 10px;
            position: absolute;
            display: flex;
            flex-direction: column;
            .slick-slide{
                position: relative;
                width: 100px!important;
                margin-bottom: 10px;
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                 }
                &:after{
                    content: "";
                    width: 100px;
                    height:100px;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    background-color: rgba(255, 255, 255, 0.3);
                }
                &.slick-current{
                    &:after{
                        background-color: rgba(255, 255, 255, 0.0);
                    }
                }  
            }          
        }
    }
    .slider-nav .slick-slide {
        width:inherit !important;
        .item{
            max-width: 60px;
            min-width: 60px;
            height: 60px;
            img{
                width: 100%;;
            }
        }
    }
    .slider-main .item{
        height: 460px;;
    }
    .slider-nav{
        max-width: 120px;
    }
    .slider-main{
        width: 550px!important;
        height: 520px;
        .item {
         width: 550px!important;
         height: 520px;
            img{
                 width: 100%;
                 height: 100%;
                 object-fit: cover;
            }
        }
     }
     .slid-text-section{
        margin-bottom: 170px;;

        .two-cols .col {
            width:55%;
        }
        .two-cols .col.text-col {
            width: 40%;
            padding-top: 15px;
            .subheader-text{
                font-size: 2.8rem;
                margin-bottom: 46px;
            }
            .big-gray-text{
                font-size: 1.6rem;
            }
        }
    }
    .container {
        max-width: 1282px;
        padding: 0 15px 0 98px;
    }
    // .form-group input, .form-group textarea{
    //     margin-bottom: 40px;
    // }
    .form-group{
        margin-bottom: 40px;;
    }

    .adress-link{
        font-size: 1.6rem;
    }
    .partner-section{
        position: relative;
        .standart-list {
            color: #000000;
            margin-bottom: 97px;
            padding-left: 30px;
            max-width: 68%;
        }
        h2{
            margin-bottom: 35px;
        }
        .norm-gray-text.thin{
           color: #000000;
           font-weight: 500;
           line-height: 203.9%;
           max-width: 75%;;
        }
    &.car-before{
        padding-top: 117px;
        padding-bottom: 40px;
        background-color: #EFEFEF;
    }    
    &.car-before:before{
        content: "";
        position: absolute;
        top: -150px;
        left: -250px;
        width: 1238px;
        height: 172px;
        background-image: url('../img/illustrations/backcar.png');
        }
    }
    .margin-bottom{
        margin-bottom: 127px;
    }
    .adress-img-wrap{
        width: 24px;
        height: 24px;
    }
    .form-part{
        // max-width: 500px ;
        // align-self: right;
        // float: right;
        // padding-top: 32px;
        margin-bottom: 200px;
    }
    .form-group input, .form-group textarea{
        padding: 24px 16px 24px;
        margin-bottom: 0px;;
    }
    .partner-section{
        .two-cols{
            padding-bottom: 150px;
        }

    }  
}



@media screen and (min-width: 1750px){
    .main-content {
        padding-left: 257px;

    }
    .bottom-part {
        padding: 66px 185px;
    }
    .illustration-col .wrap-illustration img {
        max-width: 800px;
    }
    .slider-main{
        width: 550px!important;
        height: 520px;
        .item {
         width: 550px!important;
         height: 520px;
            img{
                 width: 100%;
                 height: 100%;
                 object-fit: cover;
            }
        }
     }
     .slid-text-section{
        .h2 {
            margin-bottom: 27px;
        }
        .two-cols .col {
            width: 53%;
        }
        .two-cols .col.text-col {
            width: 36%;
            padding-top: 75px;
            .subheader-text{
                font-size: 2.8rem;
                margin-bottom: 46px;
            }
            .big-gray-text{
                font-size: 1.6rem;
            }
        }
    }

}