@use "../foundation/base" as b;

.l-main{
    margin-bottom: 60px;;
}


.main-content{   
    background-size: cover;    
    padding-left: 26px;
    padding-top: 35px ;
    position: relative;
    z-index: 5;
    padding-bottom: 141px;  
}

.main-content.main-page{
    padding-top: 92px;
    // padding-bottom: 162px;    
}

.h1-mega{
    color: #FFF;
    font-family: inherit;
    font-size: 3rem;
    font-style: normal;
    font-weight: 800;
    line-height: 116.5%; /* 34.95px */
    text-transform: uppercase;
    max-width: 90%;
    margin-bottom: 19px;
}


.main-subheader{
    color: #FFF;
    font-family: inherit;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 135%; /* 24.3px */
    margin-bottom: 20px;
}

.micro-subheader{
    color: #FFF;
    font-family: inherit;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 135%; /* 18.9px */
    margin-bottom: 80px;
}


.main-links{
    color: #FFF;
    font-family: inherit;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 135%; /* 18.9px */
    margin-bottom: 24px;
    text-decoration: none;
    position: relative;
    width: fit-content;
    &:after{
        content: "";
        width:7px;
        height: 10px; 
        position: absolute;
        background: url('../img/icons/arr-right.svg');
        background-size: contain;
        background-repeat: no-repeat;
        right: -25px;
        top: 5px;
        transition: all ease 0.3s;
    }
    &:hover{
        &:after{
            right: -40px;
        }
    }
    &-wrap{
        display: flex;
        flex-direction: column;
    }
}


.social-media-block, .langs-block, .mail-link{
    display: none;
}

.social-media-part{
    display: flex;
    max-width: 200px;
    margin: 0 auto 30px;
    justify-content: space-between;
    .social-media-li{
        &:hover{
            img{
                opacity: 0.7;
            } 
        }    
    }
    .social-media-link{
        width: 24px;
        height: 24px;
        display: block;
        box-sizing: border-box;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            
            transition: all ease 0.3s;
        }
    }
}   



.bottom-part{
    background-color: #fff;
    padding: 50px 0px;
    .h2{
        text-align: center;
        margin-bottom: 20px;
    }
    .bold-gray-text{
        max-width: 82%;
        margin: 0 auto 36px;
    }
    .button{
        margin: 0 auto 0px;
        width: 240px;
    }
}

.info-item{
    padding-left: 64px;
    &--list-item{
        position: relative;
        padding-right: 0px;
        &:not(:last-child){
            margin-bottom: 60px;
            &:before{
                content: "";
                display: block;
                position: absolute;
                height: 55px;
                left: -66px;
                position: absolute;
                top: 7px;
                width: 37px;

                background-image: url('data:image/svg+xml,<svg width="233" height="255" viewBox="0 0 233 255" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.0200043 99.4176C0.210004 99.0176 0.460007 98.6377 0.570007 98.2177C1.41001 95.1577 3.32 93.0277 6.22 91.8277C10.41 90.0877 14.62 88.4077 18.83 86.7077C24.72 84.3277 30.61 81.9576 36.5 79.5876C37.41 79.2276 38.34 78.9376 39.11 78.6676C40.56 78.9376 41.61 79.4777 42.09 80.7377C42.76 82.4877 42.06 84.1677 40.16 84.9877C37.18 86.2877 34.16 87.4876 31.14 88.6976C24.06 91.5476 16.97 94.3877 9.88 97.2377C9.32 97.4677 8.74001 97.6777 8.24001 97.9977C6.20001 99.2976 6.15 102.178 8.16 103.518C8.72 103.888 9.37 104.138 10 104.388C36.44 115.038 62.88 125.678 89.33 136.318C95.08 138.628 100.86 140.888 106.57 143.288C113.05 146.008 119.45 145.958 125.96 143.328C150.63 133.348 175.32 123.438 200.01 113.498C207.51 110.478 215.02 107.458 222.52 104.428C223.08 104.198 223.65 103.978 224.17 103.668C226.47 102.298 226.48 99.2776 224.18 97.9176C223.6 97.5776 222.95 97.3277 222.32 97.0777C212.71 93.2077 203.11 89.3377 193.5 85.4677C193.01 85.2677 192.53 85.0476 192.05 84.8376C190.73 84.2576 190.01 83.2076 190.07 81.8076C190.13 80.4376 190.84 79.3676 192.24 78.9176C192.53 78.8276 192.81 78.7377 193.27 78.5977C193.93 78.8277 194.73 79.0577 195.49 79.3577C205.18 83.2377 214.86 87.1177 224.54 91.0077C225.45 91.3777 226.36 91.7676 227.22 92.2276C230.61 94.0276 232.33 96.9977 232.35 100.718C232.37 104.438 230.72 107.498 227.3 109.248C224.95 110.448 222.46 111.378 220 112.368C192.79 123.328 165.57 134.268 138.35 145.218C134.98 146.568 131.62 147.928 128.26 149.298C120.23 152.578 112.23 152.518 104.2 149.268C90.54 143.728 76.86 138.228 63.19 132.728C44.82 125.328 26.44 117.938 8.07001 110.538C7.16001 110.168 6.26 109.768 5.38 109.328C3.03 108.138 1.51 106.238 0.660004 103.768C0.470004 103.208 0.22 102.678 0 102.128C0 101.218 0 100.308 0 99.3977L0.0200043 99.4176Z" fill="%23216BDC"/><path d="M0.0200043 49.5278C0.210004 49.1278 0.460007 48.7478 0.570007 48.3278C1.41001 45.2678 3.32 43.1378 6.22 41.9378C10.41 40.1978 14.62 38.5178 18.83 36.8178C24.72 34.4378 30.61 32.0678 36.5 29.6978C37.41 29.3378 38.34 29.0478 39.11 28.7778C40.56 29.0478 41.61 29.5878 42.09 30.8478C42.76 32.5978 42.06 34.2778 40.16 35.0978C37.18 36.3978 34.16 37.5978 31.14 38.8078C24.06 41.6578 16.97 44.4978 9.88 47.3478C9.32 47.5778 8.74001 47.7878 8.24001 48.1078C6.20001 49.4078 6.15 52.2878 8.16 53.6278C8.72 53.9978 9.37 54.2478 10 54.4978C36.44 65.1478 62.88 75.7878 89.33 86.4278C95.08 88.7378 100.86 90.9978 106.57 93.3978C113.05 96.1178 119.45 96.0678 125.96 93.4378C150.63 83.4578 175.32 73.5478 200.01 63.6078C207.51 60.5878 215.02 57.5678 222.52 54.5378C223.08 54.3078 223.65 54.0878 224.17 53.7778C226.47 52.4078 226.48 49.3878 224.18 48.0278C223.6 47.6878 222.95 47.4378 222.32 47.1878C212.71 43.3178 203.11 39.4478 193.5 35.5778C193.01 35.3778 192.53 35.1578 192.05 34.9478C190.73 34.3678 190.01 33.3178 190.07 31.9178C190.13 30.5478 190.84 29.4778 192.24 29.0278C192.53 28.9378 192.81 28.8478 193.27 28.7078C193.93 28.9378 194.73 29.1678 195.49 29.4678C205.18 33.3478 214.86 37.2278 224.54 41.1178C225.45 41.4878 226.36 41.8778 227.22 42.3378C230.61 44.1378 232.33 47.1078 232.35 50.8278C232.37 54.5478 230.72 57.6078 227.3 59.3578C224.95 60.5578 222.46 61.4878 220 62.4778C192.79 73.4378 165.57 84.3778 138.35 95.3278C134.98 96.6778 131.62 98.0378 128.26 99.4078C120.23 102.688 112.23 102.628 104.2 99.3778C90.54 93.8378 76.86 88.3378 63.19 82.8378C44.82 75.4378 26.44 68.0478 8.07001 60.6478C7.16001 60.2778 6.26 59.8778 5.38 59.4378C3.03 58.2478 1.51 56.3478 0.660004 53.8778C0.470004 53.3178 0.22 52.7878 0 52.2378C0 51.3278 0 50.4178 0 49.5078L0.0200043 49.5278Z" fill="%23216BDC"/><path d="M0.0195312 149.378C0.169531 149.128 0.409528 148.888 0.469528 148.608C1.25953 144.828 3.70953 142.608 7.16953 141.248C11.1795 139.678 15.1595 138.028 19.1595 136.418C25.0495 134.048 30.9495 131.688 36.8395 129.318C37.3295 129.118 37.8095 128.888 38.3195 128.748C39.7295 128.368 41.3895 129.098 41.9795 130.328C42.6395 131.688 42.2395 133.558 40.9795 134.388C40.2295 134.888 39.3695 135.218 38.5295 135.558C29.1395 139.358 19.7395 143.138 10.3395 146.928C9.63953 147.208 8.90953 147.468 8.27953 147.858C6.19953 149.138 6.11953 151.998 8.14953 153.348C8.82953 153.808 9.63953 154.088 10.4095 154.398C27.0295 161.088 43.6595 167.768 60.2795 174.468C75.5695 180.628 90.8395 186.828 106.14 192.948C108.16 193.758 110.29 194.378 112.41 194.858C117.01 195.898 121.42 194.958 125.71 193.248C133.57 190.108 141.43 186.948 149.28 183.778C167.51 176.438 185.74 169.088 203.97 161.738C210.14 159.248 216.31 156.768 222.48 154.278C223.18 153.998 223.9 153.718 224.51 153.278C226.4 151.928 226.34 149.168 224.37 147.918C223.55 147.398 222.61 147.048 221.7 146.688C212.31 142.888 202.91 139.108 193.52 135.318C193.03 135.118 192.52 134.958 192.06 134.708C190.48 133.828 189.86 132.028 190.56 130.428C191.17 129.038 193.24 128.248 194.6 128.838C197.65 130.158 200.77 131.338 203.85 132.578C211.01 135.448 218.16 138.338 225.32 141.198C226.95 141.848 228.47 142.658 229.7 143.948C233.8 148.248 233.08 155.318 228.15 158.618C227.15 159.278 226.03 159.778 224.91 160.228C205.84 167.928 186.76 175.608 167.69 183.288C154.72 188.518 141.72 193.698 128.78 198.998C123.77 201.048 118.63 201.938 113.26 201.488C110.38 201.248 107.61 200.498 104.93 199.418C72.3195 186.288 39.7195 173.158 7.10953 160.028C3.74953 158.678 1.32953 156.508 0.489532 152.838C0.429532 152.568 0.179531 152.338 0.0195312 152.098C0.0195312 151.188 0.0195312 150.278 0.0195312 149.368V149.378Z" fill="%23216BDC"/><path d="M0.0195312 202.568C0.169531 202.318 0.409528 202.078 0.469528 201.798C1.25953 198.018 3.70953 195.798 7.16953 194.438C11.1795 192.868 15.1595 191.218 19.1595 189.608C25.0495 187.238 30.9495 184.878 36.8395 182.508C37.3295 182.308 37.8095 182.078 38.3195 181.938C39.7295 181.558 41.3895 182.288 41.9795 183.518C42.6395 184.878 42.2395 186.748 40.9795 187.578C40.2295 188.078 39.3695 188.408 38.5295 188.748C29.1395 192.548 19.7395 196.328 10.3395 200.118C9.63953 200.398 8.90953 200.658 8.27953 201.048C6.19953 202.328 6.11953 205.188 8.14953 206.538C8.82953 206.998 9.63953 207.278 10.4095 207.588C27.0295 214.278 43.6595 220.958 60.2795 227.658C75.5695 233.818 90.8395 240.018 106.14 246.138C108.16 246.948 110.29 247.568 112.41 248.048C117.01 249.088 121.42 248.148 125.71 246.438C133.57 243.298 141.43 240.138 149.28 236.968C167.51 229.628 185.74 222.278 203.97 214.928C210.14 212.438 216.31 209.958 222.48 207.468C223.18 207.188 223.9 206.908 224.51 206.468C226.4 205.118 226.34 202.358 224.37 201.108C223.55 200.588 222.61 200.238 221.7 199.878C212.31 196.078 202.91 192.298 193.52 188.508C193.03 188.308 192.52 188.148 192.06 187.898C190.48 187.018 189.86 185.218 190.56 183.618C191.17 182.228 193.24 181.438 194.6 182.028C197.65 183.348 200.77 184.528 203.85 185.768C211.01 188.638 218.16 191.528 225.32 194.388C226.95 195.038 228.47 195.848 229.7 197.138C233.8 201.438 233.08 208.508 228.15 211.808C227.15 212.468 226.03 212.968 224.91 213.418C205.84 221.118 186.76 228.798 167.69 236.478C154.72 241.708 141.72 246.888 128.78 252.188C123.77 254.238 118.63 255.128 113.26 254.678C110.38 254.438 107.61 253.688 104.93 252.608C72.3195 239.478 39.7195 226.348 7.10953 213.218C3.74953 211.868 1.32953 209.698 0.489532 206.028C0.429532 205.758 0.179531 205.528 0.0195312 205.288C0.0195312 204.378 0.0195312 203.468 0.0195312 202.558V202.568Z" fill="%23216BDC"/><path d="M225.77 41.6577C224.51 41.1477 223.25 40.6277 221.99 40.1277C190.85 27.5777 159.7 15.0477 128.58 2.4777C120.31 -0.862298 112.17 -0.812299 103.89 2.5477C75.3803 14.1177 46.8203 25.5677 18.2703 37.0577C14.4103 38.6077 10.5603 40.1677 6.70027 41.7277C3.56027 42.9977 1.40027 45.1477 0.55027 48.5077C0.46027 48.8477 0.210273 49.1477 0.0302734 49.4677V52.1977C0.160273 52.3777 0.370271 52.5477 0.410271 52.7477C1.22027 56.8077 3.90027 59.0377 7.59027 60.5077C26.1903 67.9377 44.7703 75.4477 63.3503 82.9477C64.8503 83.5577 66.3503 83.8377 67.9803 83.8377C72.9403 83.8377 77.9103 83.8377 82.8703 83.8377L65.1403 76.6877C64.8003 76.5977 64.4603 76.4677 64.1203 76.3277C54.9403 72.6177 45.7603 68.9177 36.5703 65.2077C27.8103 61.6777 19.0403 58.1377 10.2803 54.6077C9.65027 54.3577 9.00027 54.1177 8.42027 53.7777C6.12027 52.4377 6.11027 49.4077 8.42027 48.0377C9.00027 47.6977 9.65027 47.4677 10.2803 47.2077C26.9003 40.5177 43.5203 33.8377 60.1403 27.1477C75.5003 20.9577 90.8503 14.7677 106.19 8.5677C109.44 7.2577 112.78 6.3777 116.34 6.2577C119.58 6.3977 122.72 7.0977 125.77 8.3277C141.26 14.5777 156.76 20.8077 172.25 27.0477C188.8 33.7077 205.34 40.3777 221.88 47.0477C222.58 47.3277 223.29 47.6077 223.96 47.9377C225.24 48.5577 225.9 49.5877 225.85 51.0277C225.81 52.3677 225.17 53.3577 223.97 53.8977C222.39 54.6177 220.77 55.2577 219.16 55.9077C202.48 62.6277 185.78 69.3277 169.12 76.1077C168.65 76.2977 168.2 76.4377 167.76 76.5177L149.63 83.8277C154.58 83.8277 159.53 83.8277 164.48 83.8277C166.26 83.8277 167.91 83.4977 169.55 82.8377C180.2 78.5177 190.86 74.2277 201.52 69.9277C209.59 66.6777 217.66 63.4377 225.73 60.1977C229.87 58.5377 232.3 55.4877 232.35 51.0577C232.4 47.0477 230.57 43.5977 225.77 41.6677V41.6577Z" fill="%23216BDC"/><path d="M112.66 86.9376C112.68 84.8976 114.18 83.4376 116.23 83.4776C118.18 83.5176 119.78 85.2076 119.7 87.1176C119.62 88.8876 117.92 90.5276 116.17 90.5276C114.22 90.5276 112.65 88.9176 112.66 86.9376Z" fill="%23216BDC"/><path d="M112.66 75.8475C112.68 73.8075 114.18 72.3475 116.23 72.3875C118.18 72.4275 119.78 74.1175 119.7 76.0275C119.62 77.7975 117.92 79.4375 116.17 79.4375C114.22 79.4375 112.65 77.8275 112.66 75.8475Z" fill="%23216BDC"/><path d="M110.71 77.8374C112.75 77.8574 114.21 79.3575 114.17 81.4075C114.13 83.3575 112.44 84.9575 110.53 84.8775C108.76 84.7975 107.12 83.0975 107.12 81.3475C107.12 79.3975 108.73 77.8274 110.71 77.8374Z" fill="%23216BDC"/><path d="M121.8 77.8374C123.84 77.8574 125.3 79.3575 125.26 81.4075C125.22 83.3575 123.53 84.9575 121.62 84.8775C119.85 84.7975 118.21 83.0975 118.21 81.3475C118.21 79.3975 119.82 77.8274 121.8 77.8374Z" fill="%23216BDC"/><path d="M112.66 55.4276C112.68 53.3876 114.18 51.9276 116.23 51.9676C118.18 52.0076 119.78 53.6976 119.7 55.6076C119.62 57.3776 117.92 59.0176 116.17 59.0176C114.22 59.0176 112.65 57.4076 112.66 55.4276Z" fill="%23216BDC"/><path d="M112.66 44.3375C112.68 42.2975 114.18 40.8375 116.23 40.8775C118.18 40.9175 119.78 42.6075 119.7 44.5175C119.62 46.2875 117.92 47.9275 116.17 47.9275C114.22 47.9275 112.65 46.3175 112.66 44.3375Z" fill="%23216BDC"/><path d="M110.71 46.3274C112.75 46.3474 114.21 47.8474 114.17 49.8974C114.13 51.8474 112.44 53.4474 110.53 53.3674C108.76 53.2874 107.12 51.5874 107.12 49.8374C107.12 47.8874 108.73 46.3174 110.71 46.3274Z" fill="%23216BDC"/><path d="M121.8 46.3274C123.84 46.3474 125.3 47.8474 125.26 49.8974C125.22 51.8474 123.53 53.4474 121.62 53.3674C119.85 53.2874 118.21 51.5874 118.21 49.8374C118.21 47.8874 119.82 46.3174 121.8 46.3274Z" fill="%23216BDC"/><path d="M48.4405 55.4276C48.4605 53.3876 49.9605 51.9276 52.0105 51.9676C53.9605 52.0076 55.5605 53.6976 55.4805 55.6076C55.4005 57.3776 53.7005 59.0176 51.9505 59.0176C50.0005 59.0176 48.4305 57.4076 48.4405 55.4276Z" fill="%23216BDC"/><path d="M48.4405 44.3375C48.4605 42.2975 49.9605 40.8375 52.0105 40.8775C53.9605 40.9175 55.5605 42.6075 55.4805 44.5175C55.4005 46.2875 53.7005 47.9275 51.9505 47.9275C50.0005 47.9275 48.4305 46.3175 48.4405 44.3375Z" fill="%23216BDC"/><path d="M46.4904 46.3274C48.5304 46.3474 49.9904 47.8474 49.9504 49.8974C49.9104 51.8474 48.2204 53.4474 46.3104 53.3674C44.5404 53.2874 42.9004 51.5874 42.9004 49.8374C42.9004 47.8874 44.5104 46.3174 46.4904 46.3274Z" fill="%23216BDC"/><path d="M57.59 46.3274C59.63 46.3474 61.09 47.8474 61.05 49.8974C61.01 51.8474 59.32 53.4474 57.41 53.3674C55.64 53.2874 54 51.5874 54 49.8374C54 47.8874 55.61 46.3174 57.59 46.3274Z" fill="%23216BDC"/><path d="M171.54 55.4276C171.56 53.3876 173.06 51.9276 175.11 51.9676C177.06 52.0076 178.66 53.6976 178.58 55.6076C178.5 57.3776 176.8 59.0176 175.05 59.0176C173.1 59.0176 171.53 57.4076 171.54 55.4276Z" fill="%23216BDC"/><path d="M171.54 44.3375C171.56 42.2975 173.06 40.8375 175.11 40.8775C177.06 40.9175 178.66 42.6075 178.58 44.5175C178.5 46.2875 176.8 47.9275 175.05 47.9275C173.1 47.9275 171.53 46.3175 171.54 44.3375Z" fill="%23216BDC"/><path d="M169.59 46.3274C171.63 46.3474 173.09 47.8474 173.05 49.8974C173.01 51.8474 171.32 53.4474 169.41 53.3674C167.64 53.2874 166 51.5874 166 49.8374C166 47.8874 167.61 46.3174 169.59 46.3274Z" fill="%23216BDC"/><path d="M180.68 46.3274C182.72 46.3474 184.18 47.8474 184.14 49.8974C184.1 51.8474 182.41 53.4474 180.5 53.3674C178.73 53.2874 177.09 51.5874 177.09 49.8374C177.09 47.8874 178.7 46.3174 180.68 46.3274Z" fill="%23216BDC"/><path d="M112.66 28.2477C112.68 26.2077 114.18 24.7477 116.23 24.7877C118.18 24.8277 119.78 26.5177 119.7 28.4277C119.62 30.1977 117.92 31.8377 116.17 31.8377C114.22 31.8377 112.65 30.2277 112.66 28.2477Z" fill="%23216BDC"/><path d="M112.66 17.1576C112.68 15.1176 114.18 13.6576 116.23 13.6976C118.18 13.7376 119.78 15.4276 119.7 17.3376C119.62 19.1076 117.92 20.7476 116.17 20.7476C114.22 20.7476 112.65 19.1376 112.66 17.1576Z" fill="%23216BDC"/><path d="M110.71 19.1475C112.75 19.1675 114.21 20.6675 114.17 22.7175C114.13 24.6675 112.44 26.2675 110.53 26.1875C108.76 26.1075 107.12 24.4075 107.12 22.6575C107.12 20.7075 108.73 19.1375 110.71 19.1475Z" fill="%23216BDC"/><path d="M121.8 19.1475C123.84 19.1675 125.3 20.6675 125.26 22.7175C125.22 24.6675 123.53 26.2675 121.62 26.1875C119.85 26.1075 118.21 24.4075 118.21 22.6575C118.21 20.7075 119.82 19.1375 121.8 19.1475Z" fill="%23216BDC"/><path d="M80.3409 40.4176C80.3609 38.3776 81.8609 36.9176 83.9109 36.9576C85.8609 36.9976 87.4609 38.6876 87.3809 40.5976C87.3009 42.3676 85.6009 44.0076 83.8509 44.0076C81.9009 44.0076 80.3309 42.3976 80.3409 40.4176Z" fill="%23216BDC"/><path d="M80.3409 29.3275C80.3609 27.2875 81.8609 25.8275 83.9109 25.8675C85.8609 25.9075 87.4609 27.5975 87.3809 29.5075C87.3009 31.2775 85.6009 32.9175 83.8509 32.9175C81.9009 32.9175 80.3309 31.3075 80.3409 29.3275Z" fill="%23216BDC"/><path d="M78.3908 31.3174C80.4308 31.3374 81.8908 32.8374 81.8508 34.8874C81.8108 36.8374 80.1208 38.4374 78.2108 38.3574C76.4408 38.2774 74.8008 36.5774 74.8008 34.8274C74.8008 32.8774 76.4108 31.3074 78.3908 31.3174Z" fill="%23216BDC"/><path d="M89.4806 31.3174C91.5206 31.3374 92.9806 32.8374 92.9406 34.8874C92.9006 36.8374 91.2106 38.4374 89.3006 38.3574C87.5306 38.2774 85.8906 36.5774 85.8906 34.8274C85.8906 32.8774 87.5006 31.3074 89.4806 31.3174Z" fill="%23216BDC"/><path d="M142.341 40.4176C142.361 38.3776 143.861 36.9176 145.911 36.9576C147.861 36.9976 149.461 38.6876 149.381 40.5976C149.301 42.3676 147.601 44.0076 145.851 44.0076C143.901 44.0076 142.331 42.3976 142.341 40.4176Z" fill="%23216BDC"/><path d="M142.341 29.3275C142.361 27.2875 143.861 25.8275 145.911 25.8675C147.861 25.9075 149.461 27.5975 149.381 29.5075C149.301 31.2775 147.601 32.9175 145.851 32.9175C143.901 32.9175 142.331 31.3075 142.341 29.3275Z" fill="%23216BDC"/><path d="M140.391 31.3174C142.431 31.3374 143.891 32.8374 143.851 34.8874C143.811 36.8374 142.121 38.4374 140.211 38.3574C138.441 38.2774 136.801 36.5774 136.801 34.8274C136.801 32.8774 138.411 31.3074 140.391 31.3174Z" fill="%23216BDC"/><path d="M151.481 31.3174C153.521 31.3374 154.981 32.8374 154.941 34.8874C154.901 36.8374 153.211 38.4374 151.301 38.3574C149.531 38.2774 147.891 36.5774 147.891 34.8274C147.891 32.8774 149.501 31.3074 151.481 31.3174Z" fill="%23216BDC"/><path d="M143.41 73.3478C143.43 71.3078 144.93 69.8478 146.98 69.8878C148.93 69.9278 150.53 71.6178 150.45 73.5278C150.37 75.2978 148.67 76.9378 146.92 76.9378C144.97 76.9378 143.4 75.3278 143.41 73.3478Z" fill="%23216BDC"/><path d="M143.41 62.2577C143.43 60.2177 144.93 58.7577 146.98 58.7977C148.93 58.8377 150.53 60.5277 150.45 62.4377C150.37 64.2077 148.67 65.8477 146.92 65.8477C144.97 65.8477 143.4 64.2377 143.41 62.2577Z" fill="%23216BDC"/><path d="M141.46 64.2376C143.5 64.2576 144.96 65.7576 144.92 67.8076C144.88 69.7576 143.19 71.3576 141.28 71.2776C139.51 71.1976 137.87 69.4976 137.87 67.7476C137.87 65.7976 139.48 64.2276 141.46 64.2376Z" fill="%23216BDC"/><path d="M152.56 64.2376C154.6 64.2576 156.06 65.7576 156.02 67.8076C155.98 69.7576 154.29 71.3576 152.38 71.2776C150.61 71.1976 148.97 69.4976 148.97 67.7476C148.97 65.7976 150.58 64.2276 152.56 64.2376Z" fill="%23216BDC"/><path d="M80.7608 73.3478C80.7808 71.3078 82.2808 69.8478 84.3308 69.8878C86.2808 69.9278 87.8808 71.6178 87.8008 73.5278C87.7208 75.2978 86.0208 76.9378 84.2708 76.9378C82.3208 76.9378 80.7508 75.3278 80.7608 73.3478Z" fill="%23216BDC"/><path d="M80.7608 62.2577C80.7808 60.2177 82.2808 58.7577 84.3308 58.7977C86.2808 58.8377 87.8808 60.5277 87.8008 62.4377C87.7208 64.2077 86.0208 65.8477 84.2708 65.8477C82.3208 65.8477 80.7508 64.2377 80.7608 62.2577Z" fill="%23216BDC"/><path d="M78.8107 64.2376C80.8507 64.2576 82.3107 65.7576 82.2707 67.8076C82.2307 69.7576 80.5407 71.3576 78.6307 71.2776C76.8607 71.1976 75.2207 69.4976 75.2207 67.7476C75.2207 65.7976 76.8307 64.2276 78.8107 64.2376Z" fill="%23216BDC"/><path d="M89.9103 64.2376C91.9503 64.2576 93.4103 65.7576 93.3703 67.8076C93.3303 69.7576 91.6403 71.3576 89.7303 71.2776C87.9603 71.1976 86.3203 69.4976 86.3203 67.7476C86.3203 65.7976 87.9303 64.2276 89.9103 64.2376Z" fill="%23216BDC"/></svg>');
                background-repeat: no-repeat;
                background-size: contain;
                background-repeat: no-repeat;
    
            }
        }
        &:before{
            content: "";
            display: block;
            position: absolute;
            height: 55px;
            left: -66px;
            position: absolute;
            top: 7px;
            width: 37px;
            background-image: url('data:image/svg+xml,<svg width="241" height="209" viewBox="0 0 241 209" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.0195312 102.14C0.0895313 102.1 0.199536 102.08 0.219536 102.03C1.43954 97.9297 4.37953 95.6997 8.23953 94.1997C18.1895 90.3197 28.0695 86.2697 37.9795 82.2897C38.5595 82.0597 39.1295 81.7697 39.7295 81.6197C41.4295 81.1897 43.0495 82.0297 43.7495 83.6497C44.4395 85.2397 43.9495 87.0197 42.4595 87.9597C41.8095 88.3697 41.0595 88.6497 40.3395 88.9397C30.2995 92.9997 20.2495 97.0497 10.1995 101.1C9.97953 101.19 9.74953 101.23 9.52953 101.32C8.11953 101.88 7.12953 102.81 7.08953 104.43C7.04953 106.17 8.09953 107.12 9.59953 107.72C16.8295 110.62 24.0695 113.53 31.2995 116.43C57.6895 127.05 84.0995 137.63 110.46 148.32C117.13 151.02 123.61 150.95 130.25 148.27C159.23 136.56 188.23 124.9 217.22 113.23C221.34 111.57 225.46 109.91 229.58 108.25C230.01 108.08 230.45 107.9 230.88 107.73C232.39 107.14 233.42 106.15 233.39 104.43C233.36 102.7 232.23 101.81 230.74 101.22C228.42 100.31 226.12 99.3497 223.8 98.4197C215.78 95.1897 207.75 91.9597 199.73 88.7297C199.22 88.5297 198.7 88.3497 198.23 88.0897C196.54 87.1497 195.89 85.3797 196.58 83.7197C197.31 81.9397 199.11 81.0597 201 81.7097C202.77 82.3197 204.48 83.0997 206.21 83.7897C214.96 87.2997 223.72 90.8097 232.47 94.3197C233.12 94.5797 233.77 94.8497 234.4 95.1597C238.39 97.0697 240.46 100.3 240.41 104.68C240.36 108.96 238.26 112.15 234.31 113.89C230.74 115.46 227.1 116.84 223.48 118.3C193.12 130.53 162.75 142.76 132.4 155.01C124.25 158.3 116.16 158.27 108.01 154.98C79.9695 143.65 51.9195 132.36 23.8695 121.06C18.4495 118.87 13.0695 116.59 7.59953 114.52C3.99953 113.15 1.41954 110.96 0.359535 107.17C0.329535 107.05 0.139533 106.97 0.0295334 106.88C0.0295334 105.31 0.0295334 103.75 0.0295334 102.18L0.0195312 102.14Z" fill="%23216BDC"/><path d="M0.0199966 153.79C0.0899966 153.75 0.199999 153.72 0.209999 153.67C1.37 149.54 4.29 147.31 8.15 145.8C18.09 141.91 27.97 137.86 37.87 133.87C38.45 133.64 39.02 133.35 39.62 133.21C41.47 132.77 43.11 133.66 43.76 135.4C44.37 137.03 43.81 138.7 42.24 139.62C41.51 140.05 40.68 140.34 39.89 140.66C29.92 144.7 19.95 148.72 9.99 152.76C9.56 152.93 9.1 153.06 8.7 153.3C6.6 154.55 6.5 157.4 8.52 158.74C9.03 159.08 9.65 159.27 10.22 159.5C42.38 172.46 74.54 185.42 106.7 198.38C108.51 199.11 110.31 199.84 112.14 200.5C117.64 202.48 123.18 202.49 128.63 200.38C136.76 197.22 144.85 193.94 152.94 190.68C178.53 180.39 204.12 170.09 229.71 159.79C230.29 159.56 230.85 159.27 231.42 159.02C232.69 158.45 233.34 157.44 233.37 156.08C233.4 154.69 232.68 153.68 231.43 153.13C229.65 152.34 227.83 151.65 226.02 150.92C217.21 147.36 208.39 143.8 199.58 140.24C199.15 140.07 198.7 139.92 198.29 139.69C196.72 138.79 196.09 137.14 196.66 135.51C197.29 133.73 198.87 132.82 200.73 133.2C201.26 133.31 201.77 133.54 202.27 133.74C212.39 137.81 222.51 141.87 232.63 145.95C233.21 146.18 233.77 146.46 234.34 146.72C238.29 148.53 240.33 151.69 240.39 155.96C240.45 160.36 238.3 163.61 234.32 165.44C231.06 166.93 227.69 168.16 224.36 169.5C194.08 181.7 163.79 193.89 133.52 206.1C129.95 207.54 126.34 208.64 122.46 208.91C117.53 209.25 112.83 208.46 108.26 206.62C74.65 193.08 41.05 179.54 7.43 166.02C4.07 164.67 1.5 162.61 0.43 159.01C0.37 158.82 0.15 158.68 0 158.52C0 156.95 0 155.39 0 153.82L0.0199966 153.79Z" fill="%23216BDC"/><path d="M239.95 49.82C238.99 46.72 236.91 44.5899 233.92 43.3799C226.84 40.5099 219.76 37.65 212.68 34.79C185.86 23.99 159.04 13.1999 132.22 2.38995C124.07 -0.890051 115.98 -0.75005 107.84 2.53995C74.6798 15.93 41.4998 29.3 8.28976 42.59C4.44976 44.13 1.47976 46.29 0.209763 50.37C0.189763 50.42 0.0797656 50.44 0.00976562 50.48V55.18C1.40977 59.04 3.99976 61.5699 7.88976 63.1099C27.1598 70.7499 46.3798 78.5199 65.5898 86.2799C67.0098 86.8499 68.3998 87.09 69.9098 87.09C103.48 87.07 137.05 87.07 170.62 87.09C172.13 87.09 173.52 86.8399 174.94 86.2699C191.41 79.6099 207.9 73.0099 224.38 66.3699C227.78 64.9999 231.21 63.7099 234.53 62.1699C239.33 59.9399 241.5 54.8599 239.95 49.8299V49.82ZM87.1898 79.9699C87.1598 79.8999 87.1298 79.8299 87.1098 79.7499C89.6798 78.7199 92.2598 77.6799 94.8298 76.6499C100.76 74.2799 106.66 71.8399 112.63 69.5799C117.55 67.7199 122.68 67.6499 127.56 69.4599C136.02 72.6099 144.35 76.1299 152.72 79.4999C152.92 79.5799 153.2 79.5999 153.24 79.9599H87.1898V79.9699ZM231.29 55.95C230.59 56.29 229.86 56.5699 229.14 56.8599C210.78 64.2599 192.41 71.6399 174.07 79.0799C172.71 79.6299 171.6 79.5099 170.3 78.9799C157.44 73.7599 144.58 68.56 131.69 63.43C123.94 60.35 116.15 60.45 108.4 63.57C95.6098 68.7299 82.8098 73.8699 70.0298 79.0599C68.7898 79.5699 67.7398 79.5899 66.4698 79.0799C47.8398 71.5199 29.1798 64.0099 10.5298 56.4999C10.0998 56.3299 9.64977 56.18 9.22977 55.98C7.91977 55.38 7.05976 54.4199 7.08976 52.9199C7.11976 51.4499 7.85976 50.4299 9.23976 49.8799C12.4198 48.5999 15.5898 47.2999 18.7698 46.0199C47.6098 34.3999 76.4498 22.7699 105.31 11.1699C108.63 9.82995 111.87 8.20994 115.42 7.54994C117.18 7.21994 118.98 7.11995 120.76 6.91995C124.62 6.99995 128.14 8.27994 131.62 9.68994C153.31 18.4299 174.99 27.1799 196.67 35.9199C207.73 40.3799 218.8 44.8199 229.86 49.2699C230.37 49.4699 230.85 49.7299 231.36 49.9399C232.65 50.4799 233.33 51.4599 233.38 52.8299C233.44 54.3399 232.61 55.3199 231.31 55.9399L231.29 55.95Z" fill="%23216BDC"/></svg>');
            background-repeat: no-repeat;
            background-size: contain;

        }
    }
}


.information-block{
    margin-bottom: 100px;
    .h3{
        margin-bottom: 50px;
    }    
}
.information-part{
    margin-bottom: 70px;;
    .pros-item{
        margin-bottom: 55px;
    }
}
.slid-text-section{
    .h2{
        margin-bottom: 40px;;
    }
    .main-links.type-2{
        margin-left: 50px;
    }
}

.pros{
    &-list{
        // margin: 0px;
    }
    &-item{
        display: flex;
        align-items: center;
        margin-bottom: 31px;
    }
    &-image-wrap{
        margin-right: 40px;
        width: 30px;
        height: 30px;
        min-width: 30px;;
        img{
            width: 100%;;
        }
    }
    &-text{
        color: b.$base-color;
        font-family: inherit;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 500;
        line-height: 140.4%; /* 19.656px */
    }
}


.container-no-end{
    padding-left: 105px;

    .slick-wrap{
        // padding-left: 200px;
        overflow: hidden;
        // width: calc(100% - 400px);
        width: 100%;
        position: relative;
    }
}
.no-end-wrap{
    padding-right: 20px;
    .norm-gray-text {
        margin-bottom: 37px;;
    }
    margin-bottom: 40px;;
}


.blue-section{
    background-color: #DBE3EF;
    padding-top: 47px;
    margin-bottom: 100px;
    overflow: hidden;
    .norm-gray-text{
        margin-bottom: 40px;
        max-width: 90%;
    }
}

.main-links.type-2{
    color: b.$base-color;
    &:after{
        background-image: url(../img/icons/slick-right.svg);
        height: 15px;
        right: -30px;
        width: 14px;
        top: 2px;
    }
    &:hover{
        &:after{
            right: -55px;
        }
    }
}

.illustration-col{
    position: relative;
    height: 233px;
    pointer-events: none;
    .wrap-illustration{
        position: absolute;
        bottom: -13px;
        left: -43%;
        img{
            max-width: 470px;;
        }
    }
}

.slider-main{
    margin-bottom: 20px;
    position: relative;
    .item{
      width: 296px;
      height: 296px;
      min-height: 296px;;
      img{
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    &:after{
        content: "";
        width: 55px;
        height: 55px;
        background-color: b.$background-color;
        background-image: url('../img/icons/search.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 14px;
        position: absolute;
        right: 0px;
        bottom: 0px;
        opacity: 1;
        transition: all 0.3s ease;
        pointer-events: none;
    }

}
  .slider-nav{
    &.slick-dotted.slick-slider{

        margin-bottom: 37px;;
    }
    .slick-list{
      padding-left: 0px;
    }
    .item{
      width: 90px!important;
      height: 90px;
      min-width: 90px;
      margin-right: 13px;;
      overflow: hidden;
    }
}

.information-part{
    .big-gray-text{
        margin-bottom: 67px;
    }
}
.blue-section .norm-gray-text , .no-end-wrap .norm-gray-text{
    margin-bottom: 60px ;
}

.adress{
    &-list{
        margin-bottom: 20px;
    }
    &-li{
        display: flex;
        margin-bottom: 21px;
        position: relative;

    }
    &-img-wrap{
        width: 20px;
        height: 20px;
        margin-right: 24px ;
        img, svg{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &-link{
        color: #111;
        font-family: inherit;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;  
        &:hover{
            text-decoration: underline;
        }      
    }


}

#player{
    iframe{
        height: 100%;
    }
    &:hover{
        .ytp-chrome-top, .ytp-chrome-bottom{
            opacity: 0;
        }
    }
}

.ytp-chrome-top, .ytp-chrome-bottom,
.ytp-chrome-top:hover, .ytp-chrome-bottom:hover{
    opacity: 0;
}
.ytp-hide-controls:not(.ytp-mweb-player) .ytp-watermark{
    opacity: 0;
}
// .video-container {
//     position: relative;
//     width: 100%;
//     padding-bottom: 56.25%; /* 16:9 aspect ratio */
//     overflow: hidden;
//   }
  

#player {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    padding-bottom: 56.25%;
}

  .ytp-chrome-top {
    visibility: hidden !important;
    display: none !important;
}

.ytp-watermark {
    visibility: hidden !important;
    display: none !important;
  }
  
  /* Приховати елементи управління */
  .ytp-chrome-top,
  .ytp-chrome-bottom {
    display: none !important;
  }

.html5-video-container{
    video{
        height: 100%!important;
    }
}

/// *******  FORM   ******* ///

.form-part{
    // padding-top: 30px;
    background-color: #fff;
    padding: 42px 26px;
    margin-bottom: 70px;
    button{
        width: 256px;
        display: block;
        margin: 50px auto 0;    
    }
    
    // flex-direction: column;
}
.form-2{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 20px;
    .form-row{
        width: 100%;
    }
}
.form-btn{
    position: absolute;
    bottom: 30px;
    left: 30px;
    margin-top: 20px;

    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
}

.form-group {
    margin-bottom: 20px;
    
    label, input{
        color: #676573;
        font-family: inherit;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    label{
        margin-bottom: 10px;;
    }
    input, textarea{
        padding: 20px 16px 16px 16px;
        border: 2px solid #C4C4C4;
        box-sizing: border-box;
    }
  }
  
  input::placeholder,
  textarea::placeholder{
    color: #D1D1D1;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  label, input, textarea {
    display: block;
    margin-bottom: 10px;
  }
  
  input, textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

.form-group {
    margin-bottom: 18px;
}
.button{
    margin-top: 26px;
}

.error-message{
    opacity: 0;
}


/* Customize the label (the container) */
.check-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .check-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 9px;
    left: 0;
    height: 20px;
    width: 20px;
    // background-color: #eee;
    border: 2px solid #095CD9 ;
  }
  
  /* On mouse-over, add a grey background color */
  .check-container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .check-container input:checked ~ .checkmark {
    background-color: transparent;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .check-container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
 .check-container .checkmark:after {
    left: 7px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid rgb(65, 64, 64);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

.text-agree{
    color: #111;
    font-family: inherit;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 195.9%; /* 31.344px */
    padding-left: 45px;
    a{
        color: #095CD9;
        &:hover{
        text-decoration: underline;
        }
    }

}


.partner-section{
    background-color: b.$background-color;
    position: relative;
    .two-cols{
        margin-bottom: 0px;
        padding-bottom: 50px;;
    }
    .norm-gray-text.medium-text{
        margin-bottom: 50px;

    }
}
.partner-section.car-before{
    padding-top: 30px;
    margin-bottom: 0px!Important;
    .form-part{
        margin-bottom: 0px!Important;
    }
}

.element-animation {
    opacity: 0;
    transform: translateY(50px)
}
.element-animation.element-show {
    opacity: 1;
    transform: translateY(0);
    transition: all ease 0.8s;
  }
  .partner-section{
    margin-bottom: 100px;
}

#vimeo-player iframe{
    transform: scale(6);
}



@media screen and (min-width: 500px){
    .illustration-col .wrap-illustration{
        bottom: -7px;
        left: -15%;
    }
    #vimeo-player iframe{
        transform: scale(4);
    }
}

@media screen and (min-width: 650px){
    .illustration-col .wrap-illustration{
        left: -1%;
    }
    .dropdown .dropdown-link:after{
        right: 35%;
    }
    #vimeo-player iframe{
        transform: scale(2);
    }


  
}



@media screen and (min-width: 760px){    
    .main-content{
        // background-image: url(../img/illustrations/main.png);
        padding-left: 85px;
        padding-top: 128px;
        padding-right: 30px;
    }    
    .main-content.main-page{
        padding-top: 130px;
         
    }
    .h1-mega{
        font-size: 40px;
    }
    .col.text-col{
        padding-top: 50px;;

    }
    .social-media-block{
        display: block;
        position: absolute;
        left: -38px;
        top: -15px;
    }
    .social-media{
        &-li{
            margin-bottom: 24px;
            &:hover{
                img{
                    opacity: 0.7;
                } 
            }    
        }
        &-link{
            width: 25px;
            height: 25px;
            display: block;
            img{
                width: 100%;
                transition: all ease 0.3s;
            }
        }
    }   
    .langs{
        &-block{
            display: block;
            position: absolute;
            right: -38px;
            top: -13px;
        }
        &-item{
            margin-bottom: 1px;
        }
        &-link{
            color: b.$lighten-color;
            font-family: inherit;
            font-size: 1.6rem;
            font-style: normal;
            font-weight: 500;
            line-height: 135%; /* 21.6px */
            text-transform: uppercase;
            text-decoration: none;
            &:hover{
                color: b.$base-color;

            }
        }
    }
    .mail-link{
        display: block;
        position: absolute;
        right: -38px;
        bottom: 0px; 
        transform: rotate(-180deg);
        writing-mode: vertical-rl;
        color: b.$base-color;
        font-family: inherit;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 135%; /* 21.6px */
        &:hover{
            text-decoration: underline;
        }
    }

}


@media screen and (min-width: 950px){
    .info-item--list-item:before, .info-item--list-item:not(:last-child):before{
        width: 57px;
        left: -90px;
    }
    .pros{
        &-list{
            // margin: 0px;
        }
        &-item{
            margin-bottom: 60px;;
        }
        &-image-wrap{
            width: 50px;
            height: 50px;
        }
        &-text{
            font-size: 2rem;
            font-weight: 600;
            max-width: 400px;
        }
    }
    .information-block {
        .pros-item {
            margin-bottom: 40px;
        }
    }
    .blue-section{
        padding-bottom: 10px;
        padding-top: 50px;
        position: relative;
    }
    .col.text-col{
        padding-top: 0px;

    }
    .partner-section.car-before{
        padding-top: 80px;
    }
    .sliders-wrap{
        margin-bottom: 10px;
    }
    .dropdown .dropdown-link:after{
        right: 42%;
    }
    .illustration-col {
        height: 416px; 
    }
    .wrap-illustration img {
        right: -10px;
    }
    .partner-section{
        margin-bottom: 200px;
    }

}


@media screen  and (min-width: 1120px) {

    .bottom-part{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px 70px;
      }
      .bottom-part .h2, .bottom-part .bold-gray-text{
        margin-bottom: 0px;;
      }
      .cont-form{
        .form-part button{
            margin: 0 auto;
            left: auto;
            position: relative;
        }
    }
      .bottom-part .bold-gray-text{
        max-width: 40%;
        text-align: left;
      }
      .bottom-part .button {
        margin: 0px;
        width: auto;
      }
      .information-block{
        margin-bottom: 171px;
      }
      .social-media-part{
        display: none;
      }
      .dropdown-content {
        min-width: 321px;
        text-align: left;

    }
    .form-2{
        flex-direction: row;
        justify-content: space-between;
    }
    .form-2 .form-row {
        width: 48%;
    }
    .form-btn{
        position: relative;
        bottom: 30px;
        left: 30px;
    }
    .form-part button{
        max-width: 260px;
        margin-left: 0px;;
        transform: translateX(0%);
        left: 0;
    }
    #vimeo-player iframe{
        transform: scale(1.6);
    }
    .cont-form{
        button.centered{
            margin: 0 auto;
            left: auto;
            position: relative;
        }
    }

}


@media screen and (min-width: 1200px){
    .l-main{
        margin-bottom: 148px;
    }
    .illustration-col{
        height: auto;
        order: 1;                
    }
    .text-col{
        order: 2;
    }
    .illustration-col .wrap-illustration img {
        max-width: 600px;
    }
    .illustration-col .wrap-illustration {
        left: -51%;
        bottom: auto;
        top: 19%;   

    }
    .container-no-end{
        padding-left: 15px;;
    }
}


@media screen and (min-width: 1460px){
    .main-content {
        padding: 92px 50px 183px 127px;
    }
    .main-content.main-page{
        padding-top: 133px;
    }

    .h1-mega{
        font-size: 70px;
        margin-bottom: 40px;
    }
    .main-subheader{
        font-size: 2.2rem;
    }
    .micro-subheader{
        font-size: 1.8rem;;
        max-width: 400px;;
        font-weight: 400;
    }
    .main-links-wrap{
        flex-direction: row;
    }
    .main-links{
        margin-right: 75px;
        font-size: 1.6rem;
    }


    .bottom-part {
        padding: 66px 55px;
    }
    .bottom-part .bold-gray-text {
        max-width: 48%;
        
    }
    .info-item{
        padding-left: 115px;
        padding-top: 26px;
    }
    .small-header {
        font-size: 1.8rem;
        margin-bottom: 11px;
    }
    .gray-text{
        font-size: 1.8rem;
    }
    
    .info-item--list-item:not(:last-child) {
        margin-bottom: 43px;
    }
    .info-item--list-item:before {      
        // height: 20px;
        // left: -68px;
        // top: 3px;
        // width: 52px;
        // background-size: contain;
    }
    .info-item--list-item {
        padding-right: 25px
    }
    .blue-section{
        padding-top: 110px;
        padding-bottom: 18px;
        margin-bottom: 153px;;
        .norm-gray-text {
            line-height: 198%;
        }
        .two-cols .col {
            padding-left: 101px;
            width: 48%;
        }
    }
    .illustration-col .wrap-illustration img {
        max-width: 750px;
        right: -0px;
        width: 700px;
    }
    .illustration-col .wrap-illustration {
        left: -12%;
    }
    .information-part{
        .two-cols .col .pros-list, 
        .two-cols .col:nth-child(2) .pros-list {
            padding-left: 102px;
        }
    }
    .information-part{
        margin-bottom: 100px;
        .pros-item {
            margin-bottom: 59px;
        }
    }
    .information-part .big-gray-text {
        margin-bottom: 120px;
    }
    .pros-image-wrap{
        margin-right: 31px;;
    }
    .no-end-wrap{
     padding-top: 20px;
     padding-top: 44px;
     padding-right: 0px;;
     margin-bottom: 219px;
     margin-right: 90px;
     max-width: 413px;
     .norm-gray-text {
        line-height: 223%;
        margin-bottom: 79px;
     }
    }

    .container.slid-text-section {
        padding-top: 26px;
    }
    .slider-main:after{
        width: 90px;
        height:90px;
        background-size: 20px;
    }
    .sliders-wrap{
        display: flex;
        position: relative;
        .slider-nav{
            width: 100px;
            top: 15%;
            right: 10px;
            position: absolute;
            display: flex;
            flex-direction: column;
            .slick-slide{
                position: relative;
                width: 100px!important;
                margin-bottom: 10px;
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                 }
                &:after{
                    content: "";
                    width: 100px;
                    height:100px;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    background-color: rgba(255, 255, 255, 0.3);
                }
                &.slick-current{
                    &:after{
                        background-color: rgba(255, 255, 255, 0.0);
                    }
                }  
            }          
        }
    }
    .slider-nav .slick-slide {
        width:inherit !important;
        .item{
            max-width: 60px;
            min-width: 60px;
            height: 60px;
            img{
                width: 100%;;
            }
        }
    }
    .slider-main .item{
        height: 460px;;
    }
    .slider-nav{
        max-width: 120px;
    }
    .slider-main{
        width: 550px!important;
        height: 520px;
        .item {
         width: 550px!important;
         height: 520px;
            img{
                 width: 100%;
                 height: 100%;
                 object-fit: cover;
            }
        }
     }
     .slid-text-section{
        margin-bottom: 170px;;

        .two-cols .col {
            width:55%;
        }
        .two-cols .col.text-col {
            width: 40%;
            padding-top: 15px;
            .subheader-text{
                font-size: 2.8rem;
                margin-bottom: 46px;
            }
            .big-gray-text{
                font-size: 1.6rem;
            }
        }
    }
    .container {
        max-width: 1282px;
        // padding: 0 15px 0 98px;
    }
    .container.information-block {
        padding: 0 15px 0 98px;
    }
    // .form-group input, .form-group textarea{
    //     margin-bottom: 40px;
    // }
    .form-group{
        margin-bottom: 40px;;
    }

    .adress-link{
        font-size: 1.6rem;
    }
    .partner-section{
        position: relative;
        .standart-list {
            color: #000000;
            margin-bottom: 97px;
            padding-left: 30px;
            max-width: 68%;
        }
        h2{
            margin-bottom: 35px;
        }
        .norm-gray-text.thin{
           color: #000000;
           font-weight: 500;
           line-height: 203.9%;
           max-width: 75%;;
        }
    &.car-before{
        padding-top: 117px;
        padding-bottom: 40px;
        background-color: #EFEFEF;
    }    
    &.car-before:before{
        content: "";
        position: absolute;
        top: -150px;
        left: -250px;
        width: 1238px;
        height: 172px;
        background-image: url('../img/illustrations/backcar.png');
        }
    }
    .margin-bottom{
        margin-bottom: 127px;
    }
    .adress-img-wrap{
        width: 24px;
        height: 24px;
    }
    .form-part{
        // max-width: 500px ;
        // align-self: right;
        // float: right;
        // padding-top: 32px;
        margin-bottom: 200px;
    }
    .form-group input, .form-group textarea{
        padding: 24px 16px 24px;
        margin-bottom: 0px;;
    }
    .partner-section{
        .two-cols{
            padding-bottom: 50px;
        }

    }  
    section.partner-section.education{
        margin-bottom: 0px;;


    }
    .langs-block, .mail-link{
        right: -65px;
    }
    .social-media-block{
        left: -65px;
    }
}



@media screen and (min-width: 1750px){
    .main-content {
        padding-left: 257px;

    }
    .bottom-part {
        padding: 66px 185px;
    }
    .illustration-col .wrap-illustration img {
        max-width: 800px;
    }
    .slider-main{
        width: 550px!important;
        height: 520px;
        .item {
         width: 550px!important;
         height: 520px;
            img{
                 width: 100%;
                 height: 100%;
                 object-fit: cover;
            }
        }
     }
     .slid-text-section{
        .h2 {
            margin-bottom: 27px;
        }
        .two-cols .col {
            width: 53%;
        }
        .two-cols .col.text-col {
            width: 36%;
            padding-top: 75px;
            .subheader-text{
                font-size: 2.8rem;
                margin-bottom: 46px;
            }
            .big-gray-text{
                font-size: 1.6rem;
            }
        }
    }

}