.cards-box{
  display: flex;
  flex-flow: wrap;
  margin-bottom: 100px;
}

.card{
    display: block;
    width: 130px;
    height: 190px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    margin-right: 14px;
    margin-bottom: 40px;;
    .image-wrap {
      overflow: hidden;
      img{
        position: absolute;
        top: 0px;      
        left: 0px;
        transition: all 0.3s ease;  
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &:hover{
      img{
        transform: scale(1.1)
      }
    }
  }
  


  .describe-block{
    margin: 0 auto;
    max-width: 301px;
    padding: 30px 14px;
  }

.card-header{
    color: #FFF;
    text-align: center;
    font-family: inherit;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.full-width{
    background-color: #fff;
}
.describe-block{
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
}
.describe-item{
    margin-bottom: 40px;;
}

.describe-header {
    display: flex;;
    justify-content: flex-start;
}
.describe-head{
    color: #000;
    font-family: inherit;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 140.4%; /* 28.08px */
    margin-bottom: 20px;
}

.describe-image-wrap{
    width: 30px;
    height: 30px;
    margin-right: 24px;
    img{
        width: auto;
        height: 100%;
        object-fit: cover;
    }
}

.describe-text{
    color: #676573;
    font-family: inherit;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 195.9%; /* 27.426px */ 
}

.card-bottom{
    color: #FFF;
    text-align: center;
    font-family: inherit;
    font-size: 1.0rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.information-part{
    // overflow: hidden;
}

.wrap-illustration{
    width: 100%;
    position: relative;
    height: 350px;

    img{
        width: 562px;
        position: absolute;
        right: -250px;
    }
}

.about{
    &-list{
        margin-bottom: 100px;
    }
    &-item{
        display: flex;
        margin-bottom: 40px;
    }
    &-text{
        color: #000;
        font-family: inherit;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 500;
        line-height: 195.9%; /* 27.426px */
    }

}
.wrap-about-img{
    width: 30px;
    min-width: 30px;;
    height: 30px;
    margin-right: 24px;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.bold-text{
    color: #111;
    font-family: inherit;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 187.4%; /* 29.984px */
}

.ordered-block{
    display: flex;
    flex-direction: column;
    .h2{
        order: 1;
    }
    .wrap-illustration{
        order: 2;
    }
    .big-gray-text{
        order: 3;
    }
}


@media screen and (min-width: 500px){
    .cards-box{
        justify-content: center;
    }
    .card{
        margin: 20px 10px;
    }
    .describe-block{
        max-width: 90%;
        padding: 30px 15px;
    }
    .wrap-illustration img {
        right: -150px;
    }
    .about-list{
        max-width: 980px;
    }

}


@media screen and (min-width: 970px){
    .describe-block{
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 960px;
        padding: 60px 35px;

    }
    .describe-item{
        width: 48%;
    }
    .ordered-block{
        position: relative;
        .h2{
            order: 1;
            margin-bottom: 40px;;
        }
        .wrap-illustration{
            order: 3;
            position: absolute;
            left: 0px;
            right: auto;
            top: 0px;
            img{
                right: 0px;
            }
        }
        .big-gray-text{
            margin-bottom: 130px;;
            order: 2;
            max-width: 590px;;
        }
    }
    .about-text{
        font-size: 2.0rem;
        font-weight: 500;
        line-height: 195.9%; /* 39.18px */
    }
    .about-item{
        margin-bottom: 50px;
    }
    .wrap-about-img{
        width: 40px;
        height: 40px;
        min-width: 40px;
        max-width: 40px;
        margin-right: 40px;;
    }
    .bold-text{
        font-size: 2.4rem;
        font-weight: 700;
    }
}

@media screen and (min-width: 1120px){
    .describe-block{
        max-width: 1100px;
    }
}

@media screen and (min-width: 1200px){
    .card-box{
        margin-bottom: 150px;
    }
    .card{
        width: 280px;
        height: 400px;
        margin-right: 60px;
        margin-bottom: 40px;;
    }
    .card-header{
        font-size: 3.0rem;
    }
    .card-bottom{
        font-size: 1.6rem;
    }
    .full-width{
        background-color: transparent;
    }
    .describe-block{
        background-color: #fff;
        // padding: 30px 15px
    }
    .cards-box{
        justify-content: flex-start;
    }

}

@media screen and (min-width: 1400px){
    .describe-block{
        background-color: #fff;
        padding: 90px 100px;
        justify-content: space-evenly;
        margin-bottom: 149px;
        // max-width: 1282px;
        max-width: 1300px;
    }
    .describe-item {
        width: 42%;
    }
}