.cards-box{
  display: flex;
  flex-flow: wrap;
  margin-bottom: 100px;
}

.card{
    display: block;
    width: 130px;
    height: 190px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    margin-right: 20px;
    margin-bottom: 40px;;
    .image-wrap {
      overflow: hidden;
      img{
        width: 100%;
        position: absolute;
        top: 0px;      
        left: 0px;
        transition: all 0.3s ease;  
      }
    }
    &:hover{
      img{
        transform: scale(1.1)
      }
    }
  }
  

.card-header{
    color: #FFF;
    text-align: center;
    font-family: inherit;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.full-width{
    background-color: #fff;
}



@media screen and (min-width: 1200px){
    .card-box{
        margin-bottom: 150px;
    }
    .card{
        width: 280px;
        height: 400px;
        margin-right: 60px;
        margin-bottom: 40px;;
    }
    .card-header{
        font-size: 3.0rem;
    }
}