extends ./helpers/layout/_layout

block value
  - const path = ".";
  - const education = true;

block header
  include components/header/_header

block main
  include components/main/_education

block footer
  include components/footer/_footer