extends ./helpers/layout/_layout

block value
  - const path = ".";
  - const contacts2 = true;

block header
  include components/header/_header

block main
  include components/main/_just-contacts

block footer
  include components/footer/_footer