footer.footer 
    .footer-container 
        a(href="https://zaslavskayasya.github.io/plivka/dist/index.html").logo
            img(src="img/logo.png", alt="bright")
        ul.social-link-list
            li.social-li 
                a(href="#").social-link
                    img(src="img/icons/fb.svg", alt="facebook") 
            li.social-li 
                a(href="#").social-link
                    img(src="img/icons/inst.svg", alt="instagram") 
            li.social-li 
                a(href="#").social-link
                    img(src="img/icons/tiktok.svg", alt="tiktok") 
        ul.footer-nav 
            li.footer-li 
                a(href="#").footer-link Про нас
            li.footer-li 
                a(href="https://zaslavskayasya.github.io/plivka/dist/graviy.html").footer-link Продукти
            li.footer-li 
                a(href="#").footer-link Film Cut
            li.footer-li 
                a(href="https://zaslavskayasya.github.io/plivka/dist/contacts.html").footer-link Співпраця
            li.footer-li 
                a(href="https://zaslavskayasya.github.io/plivka/dist/contacts.html").footer-link Навчання
            li.footer-li 
                a(href="https://zaslavskayasya.github.io/plivka/dist/contacts.html").footer-link Контакти