if main 
    script(src="https://code.jquery.com/jquery-3.7.1.min.js") 
    script(src="./js/slick/slick.min.js") 
    script(src="./js/lightbox/js/lightbox.min.js")

script(src=jsPath + "main.js" defer)
