if main 
    script(src="./js/jquery.min.js") 
    script(src="./js/slick/slick.min.js") 
    script(src="./js/lightbox/js/lightbox.min.js")
    script(src="/js/masked/mask.js")
    script(src="./js/main.js" defer) 
    script(src="./js/padding-left-script.js" defer)

if toning 
    script(src="./js/padding-left-script.js" defer)

if hibrid 
    script(src="./js/padding-left-script.js" defer)

if graviy 
    script(src="./js/jquery.min.js")
    script(src="./js/swiper/swiper.js")
    script(src="./js/slick/slick.min.js") 
    script(src="./js/padding-left-script.js" defer)
    script(src="./js/graviy.js" )

if save 
    script(src="./js/padding-left-script.js" defer)

if film
    script(src="./js/jquery.min.js")
    script(src="./js/film.js")
    script(src="./js/masked/mask.js")
    script(src="./js/contacts.js")


if contacts
    script(src="./js/jquery.min.js")
    script(src="./js/masked/mask.js")
    script(src="./js/contacts.js")

script(src=jsPath + "header.js" defer)
