section 
    .l-main.big-container
        .main-content(data-image="img/illustrations/save-plivka-mob.webp" 
        data-responsive="img/illustrations/save-plivka-big.webp")
            ul.social-media-block 
                li.social-media-li
                    a(href="#").social-media-link
                        img(src="img/icons/fb.svg", alt="facebook")
                li.social-media-li 
                    a(href="#").social-media-link 
                        img(src="img/icons/insta.svg", alt="instagram")
                li.social-media-li 
                    a(href="#").social-smedia-link 
                        img(src="img/icons/youtube.svg", alt="youtube")
            ul.breadcrumb
                span
                    span
                        a(href="./index.html") Головна сторінка           
                    span Про нас   
            h1.h1 Про нас
            ul.langs-block 
                li.langs-item 
                    a(href="#").langs-link PL  
                li.langs-item 
                    a(href="#").langs-link En 
            a(href="mailto:info@brightfilms.pl").mail-link   info@brightfilms.pl    
section
    .container
        h2.h2.padding-30.width-80 Ідея створення бренду Bright розпочався у 2015 році в Україні. 
        .two-cols 
            .col
                .illustrate-roundeed
                    img(src="./img/illustrations/about1.png", alt="")
            .col
                p.norm-gray-text.element-animation.padding-30 Тоді майбутні засновники торгової марки Bright були професійними менеджерами і працювали в сфері реалізації різних відомих світових брендів в напрямку автомобільних плівок.
                p.norm-gray-text.element-animation.padding-30 Пройшовши шлях від менеджерів до власників детейлінг студії та компанії з продажу плівок, працюючи та особисто тестуючи різну продукцію від провідних американських, європейських та азіатських брендів був зроблений однозначний висновок - отримати кращий результат можливо лише за умови комбінації обраних позицій у різних виробників.
                p.norm-gray-text.element-animation Саме в цей час, бажання працювати найліпшою продукцією надихнуло на створення власного бренду, популяція якого буде не лише в Україні, а й далеко за її межами.
        .two-cols.padding-30 
            .col
                h4.h4 З 2021 року 
                p.norm-gray-text.element-animation.padding-30 командою бренду Bright в Україні були сформовані кілька направлень в сфері продажу плівок, а згодом, з 2022 року ми зробили перші свої кроки на території Польщі.
                p.norm-gray-text.element-animation.padding-30  Сьогодні ми пропонуємо не лише добірну продукцію а й якісні послуги в сфері стайлінгу та детейлінгу авто, кваліфіковане навчання та прагнемо підтримувати внутрішнє бажання кожного, хто бажає отримувати позитивні відчуття при погляді на свій автомобіль.

            .col
                .illustrate-roundeed
                    img(src="./img/illustrations/about2.png", alt="")
        h4.h4.thin.element-animation.centred.padding-50 BRIGHT - створеній дбати про кожного.