section 
    .l-main.big-container
        .main-content(data-image="img/illustrations/save-plivka-mob.webp" 
        data-responsive="img/illustrations/save-plivka-big.webp")
            ul.social-media-block 
                li.social-media-li
                    a(href="#").social-media-link
                        img(src="img/icons/fb.svg", alt="facebook")
                li.social-media-li 
                    a(href="#").social-media-link 
                        img(src="img/icons/insta.svg", alt="instagram")
                li.social-media-li 
                    a(href="#").social-smedia-link 
                        img(src="img/icons/youtube.svg", alt="youtube")
            ul.breadcrumb
                span
                    span
                        a(href="./index.html") Головна сторінка           
                    span Про нас   
            h1.h1 Про нас
            ul.langs-block 
                li.langs-item 
                    a(href="#").langs-link PL  
                li.langs-item 
                    a(href="#").langs-link En 
            a(href="mailto:info@brightfilms.pl").mail-link   info@brightfilms.pl    
 
    
.section
    .container
        .horizontal-list.margin-bottom-big 
                .horizontal-item.round-sahadow 
                    .image-place 
                        img(src="./img/blue/1.svg ", alt="")
                    .text-place 
                        p.card-heading Захист лакофарбового покриття
                        p.text-in-card  PPF допомагає запобігти подряпинам і корозії, що можуть виникнути в результаті контакту з камінням, піщаними доріжками, сілью, комахами та іншими потенційно шкідливими факторами.   
                .horizontal-item.round-sahadow 
                    .image-place 
                        img(src="./img/blue/2.svg ", alt="")
                    .text-place 
                        p.card-heading Захист лакофарбового покриття
                        p.text-in-card  PPF допомагає запобігти подряпинам і корозії, що можуть виникнути в результаті контакту з камінням, піщаними доріжками, сілью, комахами та іншими потенційно шкідливими факторами.   
                .horizontal-item.round-sahadow 
                    .image-place 
                        img(src="./img/blue/3.svg ", alt="")
                    .text-place 
                        p.card-heading Захист лакофарбового покриття
                        p.text-in-card  PPF допомагає запобігти подряпинам і корозії, що можуть виникнути в результаті контакту з камінням, піщаними доріжками, сілью, комахами та іншими потенційно шкідливими факторами.   
                .horizontal-item.round-sahadow 
                    .image-place 
                        img(src="./img/blue/4.svg ", alt="")
                    .text-place 
                        p.card-heading Захист лакофарбового покриття
                        p.text-in-card  PPF допомагає запобігти подряпинам і корозії, що можуть виникнути в результаті контакту з камінням, піщаними доріжками, сілью, комахами та іншими потенційно шкідливими факторами.   
    
    h2.h2.thin.element-animation.centred.margin-bottom-big.centered-header.decor-line.decor-line-centered BRIGHT - створеній дбати про кожного.