section 
    .l-main.big-container
        .main-content(data-image="img/illustrations/save-plivka-mob.webp" 
        data-responsive="img/illustrations/save-plivka-big.webp")
            ul.social-media-block 
                li.social-media-li
                    a(href="#").social-media-link
                        img(src="img/icons/fb.svg", alt="facebook")
                li.social-media-li 
                    a(href="#").social-media-link 
                        img(src="img/icons/insta.svg", alt="instagram")
                li.social-media-li 
                    a(href="#").social-smedia-link 
                        img(src="img/icons/youtube.svg", alt="youtube")
            ul.breadcrumb
                span
                    span
                        a(href="./index.html") Головна сторінка           
                    span Про нас   
            h1.h1 Про нас
            ul.langs-block 
                li.langs-item 
                    a(href="#").langs-link PL  
                li.langs-item 
                    a(href="#").langs-link En 
            a(href="mailto:info@brightfilms.pl").mail-link   info@brightfilms.pl    
section
    .container
        h4.h4.thin.element-animation.centred.margin-bottom-big.centered-header.width-80 Ідея створення бренду Bright розпочався у 2015 році в Україні. 
        .two-cols 
            .col
                .illustrate-roundeed
                    img(src="./img/illustrations/group3.png", alt="")
            .col
                p.medium-text.norm-gray-text.element-animation.decor-line 
                    b
                        | У 2015 році, 
                    | на фоні зростаючого інтересу до естетики та захисту автомобілів, була створена компанія, що спеціалізується на продажі PPF (лакофарбової захисної плівки) в Україні. 
        p.medium-text.element-animation.centered-header.margin-bottom-big Ідея створення компанії була зумовлена потребою в ефективних захисних засобах для лакофарбового покриття автомобілів, спрямованих на збереження первинного зовнішнього вигляду автомобілів, одночасно захищаючи їх від несприятливого впливу навколишнього середовища та механічних ушкоджень
        h4.h4.thin.element-animation.centred.centered-header.width-80 Лідерство і розвиток
        p.norm-gray-text.element-animation.centred.centered-header У світі швидко зростаючої автомобільної промисловості фірма BRIGHT, як лідер з продажу захисної плівки PPF, почала продовжувати свою діяльність у Польщі та Європейському Союзі.
        .big-illustration.element-animation.margin-bottom-big
            img(src="img/illustrations/map-b.jpg", alt="flu-car")
        //- .two-cols.padding-30 
        //-     .col
        //-         h4.h4 З 2021 року 
        //-         p.norm-gray-text.element-animation.padding-30 командою бренду Bright в Україні були сформовані кілька направлень в сфері продажу плівок, а згодом, з 2022 року ми зробили перші свої кроки на території Польщі.
        //-         p.norm-gray-text.element-animation.padding-30  Сьогодні ми пропонуємо не лише добірну продукцію а й якісні послуги в сфері стайлінгу та детейлінгу авто, кваліфіковане навчання та прагнемо підтримувати внутрішнє бажання кожного, хто бажає отримувати позитивні відчуття при погляді на свій автомобіль.

        //-     .col
        //-         .illustrate-roundeed
        //-             img(src="./img/illustrations/about2.png", alt="")
        h4.h4.thin.element-animation.centred.padding-30.centered-header.decor-line.decor-line-centered У світі, де перше враження відіграє важливу роль, наші плівки PPF є надійним інструментом для збереження автомобіля в ідеальному стані.
    
.section
    .container
        .horizontal-list.margin-bottom-big 
                .horizontal-item.round-sahadow 
                    .image-place 
                        img(src="./img/blue/1.svg ", alt="")
                    .text-place 
                        p.card-heading Захист лакофарбового покриття
                        p.text-in-card  PPF допомагає запобігти подряпинам і корозії, що можуть виникнути в результаті контакту з камінням, піщаними доріжками, сілью, комахами та іншими потенційно шкідливими факторами.   
                .horizontal-item.round-sahadow 
                    .image-place 
                        img(src="./img/blue/2.svg ", alt="")
                    .text-place 
                        p.card-heading Захист лакофарбового покриття
                        p.text-in-card  PPF допомагає запобігти подряпинам і корозії, що можуть виникнути в результаті контакту з камінням, піщаними доріжками, сілью, комахами та іншими потенційно шкідливими факторами.   
                .horizontal-item.round-sahadow 
                    .image-place 
                        img(src="./img/blue/3.svg ", alt="")
                    .text-place 
                        p.card-heading Захист лакофарбового покриття
                        p.text-in-card  PPF допомагає запобігти подряпинам і корозії, що можуть виникнути в результаті контакту з камінням, піщаними доріжками, сілью, комахами та іншими потенційно шкідливими факторами.   
                .horizontal-item.round-sahadow 
                    .image-place 
                        img(src="./img/blue/4.svg ", alt="")
                    .text-place 
                        p.card-heading Захист лакофарбового покриття
                        p.text-in-card  PPF допомагає запобігти подряпинам і корозії, що можуть виникнути в результаті контакту з камінням, піщаними доріжками, сілью, комахами та іншими потенційно шкідливими факторами.   
    
    h2.h2.thin.element-animation.centred.margin-bottom-big.centered-header.decor-line.decor-line-centered BRIGHT - створеній дбати про кожного.