section 
    .l-main.big-container
        .main-content(data-image="img/illustrations/many-cars-mob.webp" 
        data-responsive="img/illustrations/many-cars-big.webp")
            ul.social-media-block 
                li.social-media-li
                    a(href="#").social-media-link
                        img(src="img/icons/fb.svg", alt="facebook")
                li.social-media-li 
                    a(href="#").social-media-link 
                        img(src="img/icons/insta.svg", alt="instagram")
                li.social-media-li 
                    a(href="#").social-smedia-link 
                        img(src="img/icons/youtube.svg", alt="youtube")
            ul.breadcrumb
                a(href="./index.html") Головна сторінка           
                span Співпраця     
            h1.h1 Співпраця
            ul.langs-block 
                li.langs-item 
                    a(href="#").langs-link PL  
                li.langs-item 
                    a(href="#").langs-link En 
            a(href="mailto:info@brightfilms.pl").mail-link  info@brightfilms.pl      
section.partner-section
    .container
        .two-cols
            .col
                h4.h4.element-animation.decor-line.part-header Стати партнером
                p.norm-gray-text.element-animation.margin-small Дякуємо за виявлену вами зацікавленість у співпраці з нашою компанією. Ми завжди відкриті до нових партнерських можливостей та співпраці з інноваційними та амбіційними організаціями.
             
            .col 
                .illustration-box.margin-bottom-norm
                    .img-w 
                        img(src="img/illustrations/group1.png", alt="") 
        ul.number-list 
            li.norm-gray-text.element-animation 
                span 1
                p Ми зателефонуємо вам, щоб обговорити те, що вам потрібно
            li.norm-gray-text.element-animation
                span 2
                p Ми надішлемо вам індивідуальну пропозицію
            li.norm-gray-text.element-animation
                span 3 
                p Ми звяжемося з вами знову, щоб відповісти на будь-які ваші запитання та визначити, чи має сенс співпраця
.section
    .container.margin-bottom-big
        h4.h4.thin.element-animation.centred.padding-30.centered-header.decor-line.decor-line-centered Залишились питання?
            br 
            | Напишіть нам
        .form-part.element-animation.round-sahadow
            form(id='contact-form' onsubmit='return validateForm(event)').form-2
                .form-row
                    .form-group
                        input(type='text', id='name', name='name', autocomplete="on" , placeholder='Назва компанії', aria-label="Nazwa firmy",  required)
                        span.error-message(id='name-error') 
                    .form-group
                        input(type='email', id='mail', name='e-mail', autocomplete="on" , placeholder='Електронна пошта', aria-label="E-mail",  required)
                        span.error-message(id='mail-error') 
                    .form-group
                        input(type='tel', id='phone', name='phone', autocomplete="on" , placeholder='Контактний телефон', aria-label="Telefoniczny numer kontaktowy",  required)
                        span.error-message(id='phone-error') Невірний номер
                    button.button.button-blue(type='submit' title="wyślij formularz").form-btn Надіслати
                .form-row
                    .form-group
                        input(type='text', id='name', name='name', autocomplete="on" , placeholder='Назва компанії', aria-label="Nazwa firmy",  required)
                        span.error-message(id='name-error') 
                    .form-group
                        input(type='email', id='mail', name='e-mail', autocomplete="on" , placeholder='Електронна пошта', aria-label="E-mail",  required)
                        span.error-message(id='mail-error') 
                    .form-group
                        label.check-container
                            input(type="checkbox" , name="agree" ,aria-label="wyrażasz zgodę na naszą politykę prywatności.").checkbox
                            span.checkmark
                        p.text-agree  Відправляючи форму, ви погоджуєтесь з нашою 
                            a(href="#") політикою конфіденційності.   
                    .form-group
                        label.check-container
                            input(type="checkbox" , name="isReal", aria-label="Podałem prawdziwy numer identyfikacyjny podatnika mojej firmy.").checkbox
                            span.checkmark
                        p.text-agree  Я приватний підприємець. Я ввів реальний ідентифікаційний номер платника податків моєї компанії.  


section 
    .container
        h4.h4.oncenter.element-animation.centered-header.decor-line.decor-line-centered.margin-bottom-big Дякуємо за виявлену вами зацікавленість у співпраці з нашою компанією. Ми завжди відкриті до нових партнерських можливостей та співпраці з інноваційними та амбіційними організаціями.
