section 
    .l-main.big-container
        .main-content(data-image="img/illustrations/many-cars-mob.webp" 
        data-responsive="img/illustrations/many-cars-big.webp")
            ul.social-media-block 
                li.social-media-li
                    a(href="#").social-media-link
                        img(src="img/icons/fb.svg", alt="facebook")
                li.social-media-li 
                    a(href="#").social-media-link 
                        img(src="img/icons/insta.svg", alt="instagram")
                li.social-media-li 
                    a(href="#").social-smedia-link 
                        img(src="img/icons/youtube.svg", alt="youtube")
            ul.breadcrumb
                a(href="./index.html") Головна         
                span Навчання
            h1.h1 Навчання
            ul.langs-block 
                li.langs-item 
                    a(href="#").langs-link PL  
                li.langs-item 
                    a(href="#").langs-link En 
            a(href="mailto:info@brightfilms.pl").mail-link  info@brightfilms.pl
section
    .container      
        .two-cols 
            .col
                .illustrate-roundeed
                    img(src="./img/illustrations/group3.png", alt="")
            .col
                h4.h4.thin.element-animation.decor-line  Навчання
                p.medium-text.norm-gray-text.element-animation 
                    | Обклеювання антигравійною плівкою BRIGHT PPF (Paint Protection Film) є важливим елементом у сфері захисту лакофарбового покриття автомобілів. Для ефективного впровадження цієї практики професійне навчання стає ключовим інструментом для спеціалістів в сфері детейлінгу. 
        
        h4.h4.thin.element-animation.centred.centered-header.width-80.decor-line.decor-line-centered Про наше навчання
        p.medium-text.element-animation.centered-header.margin-small На основі наш их знань і багаторічного досвіду роботи із захисною плівкою BRIGHT PPF ми пропонуємо 
            b комплексний курс 
            | навчання щодо її застосування.
        
section
    .container
        .horizontal-list.margin-bottom-big 
                .horizontal-item.round-sahadow 
                    .image-place 
                        img(src="./img/4/4.svg  ", alt="")
                    .text-place 
                        p.card-heading Надати комплексні зання
                        p.text-in-card  Навчання щодо обклеювання антигравійною плівкою BRIGHT PPF надає комплексне уявлення та знання щодо техніки нанесення захисної плівки, яке має на меті підтримку і деального стану лакофарбового покриття автомобіля.
                .horizontal-item.round-sahadow 
                    .image-place 
                        img(src="./img/4/2.svg ", alt="")
                    .text-place 
                        p.card-heading Навчити розумітись на деталях
                        p.text-in-card Учасники навчання отримують навички не тільки в області точного нарізування захисної плівки, але також в аспектах, пов'язаних з підготовкою поверхні автомобіля до обклеювання, усунення повітряних бульбашок при нанесенні плівки та досягнення найвищої якості фінальної естетики.  
                .horizontal-item.round-sahadow 
                    .image-place 
                        img(src="./img/4/3.svg ", alt="")
                    .text-place 
                        p.card-heading Надання практичних навичок
                        p.text-in-card Нашою метою є не тільки передача теоретичних знань, але, перш за все, надання практичних навичок. Навчання проводиться під керівництвом фахівця, який має великий досвід у встановленні та нанесенні плівок BRIGHT PPF. Ми знаємо, що практика є ключовим елементом навчання, тому надаємо їй першочергового значення, приділяючи до 100% часу. Під час навчання обговорюються теоретичні питання, ми зосереджуємо всю нашу увагу на учасниках. 
                .horizontal-item.round-sahadow 
                    .image-place 
                        img(src="./img/4/1.svg ", alt="")
                    .text-place 
                        p.card-heading Здобуття навичок за 3-8 днів!
                        p.text-in-card Основна мета нашого курсу полягає в тому, щоб у період від 3 до 8 днів інтенсивної програми учасники могли самостійно використовувати і застосовувати плівку PPF. В результаті навчання кожен учасник відкриває для себе перспективу самостійного та ефективного використання плівок BRIGHT PPF. 

    
        p.medium-text.element-animation.centered-header.element-show.width-80.decor-line.decor-line-centered.margin-bottom-big  Процес нанесення PPF є досить складним і вимагає особливої точності, саме тому ми зосереджуємо увагу на індивідуальному та груповому навчанні.

section.partner-section.education
    .container
        .two-cols
            .col
                h4.h4.element-animation.decor-line.part-header Під час навчання ви отримаєте знання з:
                p.medium-text.element-animation 1. теоретичного процесу, пов'язаного з виробництвом плівки PPF та її нанесенням;
                p.medium-text.element-animation 2. практичну частину, що охоплює підготовку поверхні до роботи,
                p.medium-text.element-animation 3. нанесення антигравійної плівки PPF, 
                p.medium-text.element-animation.margin-small 4. безпечне вилучення надлишкової плівки.

             
            .col 
                .illustration-box.margin-bottom-norm
                    .img-w 
                        img(src="img/illustrations/group1.png", alt="") 
.section
    .container.margin-bottom-big
        h4.h4.thin.element-animation.centred.centered-header.decor-line.decor-line-centered Залишились питання? 
            br
            |  Напишіть нам
        .form-part.element-animation.round-sahadow.small-form
            form(id='contact-form' onsubmit='return validateForm(event)')
                .form-row
                    .form-group
                        input(type='text', id='name', name='name', autocomplete="on" , placeholder='Ваше iм\'я', aria-label="Nazwa firmy",  required)
                        span.error-message(id='name-error') 
                    .form-group
                        input(type='email', id='mail', name='e-mail', autocomplete="on" , placeholder='Електронна пошта', aria-label="E-mail",  required)
                        span.error-message(id='mail-error') 
                    .form-group
                        input(type='tel', id='phone', name='phone', autocomplete="on" , placeholder='Контактний телефон', aria-label="Telefoniczny numer kontaktowy",  required)
                        span.error-message(id='phone-error') Невірний номер                    
                    .form-group.padding-30
                        label.check-container
                            input(type="checkbox" , name="agree" ,aria-label="wyrażasz zgodę na naszą politykę prywatności.").checkbox
                            span.checkmark
                        p.text-agree  Відправляючи форму, ви погоджуєтесь з нашою 
                            a(href="#") політикою конфіденційності.   
                    button.button.button-blue.centered(type='submit' title="wyślij formularz").form-btn Надіслати
section 
    .container
        h4.h4.oncenter.element-animation.centered-header.decor-line.decor-line-centered.margin-bottom-big Наш підхід базується на професіоналізмі та точності в кожній деталі. Ми раді, що можемо передавати наші знання і, в той же час, отримуємо задоволення від того, що збагачуємо ринок новими кваліфікованими майстрами в галузі детейлінгу.