section 
    .l-main.big-container
        .main-content(data-image="img/illustrations/save-plivka-mob.webp" 
        data-responsive="img/illustrations/save-plivka-big.webp")
            ul.social-media-block 
                li.social-media-li
                    a(href="#").social-media-link
                        img(src="img/icons/fb.svg", alt="facebook")
                li.social-media-li 
                    a(href="#").social-media-link 
                        img(src="img/icons/insta.svg", alt="instagram")
                li.social-media-li 
                    a(href="#").social-smedia-link 
                        img(src="img/icons/youtube.svg", alt="youtube")
            ul.breadcrumb
                span
                    span
                        a(href="./index.html") Головна сторінка           
                    span Антигравійні плівки для кузова автомобіля     
            h1.h1 Антигравійні плівки для кузова автомобіля
            ul.langs-block 
                li.langs-item 
                    a(href="#").langs-link PL  
                li.langs-item 
                    a(href="#").langs-link En 
            a(href="mailto:info@brightfilms.pl").mail-link   info@brightfilms.pl      

section 
    .container 
                h2.h2.thin.element-animation.centered-header Bright Clear PPF
                p.subheader-normal.element-animation.centered-header Найвищий рівень захисту та виразні естетичні характеристики
                ul.pros-list.margin-top-40.pros-type-2 
                    li.pros-item.element-animation
                        .pros-image-wrap 
                            img.pros-image(src="img/icons/ic1.svg", alt="flask")
                        p.pros-percent 80%
                        p.pros-text   Економія матеріалу та часу на встановлення
                    li.pros-item.element-animation
                        .pros-image-wrap 
                            img.pros-image(src="img/icons/ic2.svg", alt="line")
                        p.pros-percent 100%
                        p.pros-text   Безпечна робота, лако-фарбове покриття в безпеці
                    li.pros-item.element-animation
                        .pros-image-wrap 
                            img.pros-image(src="img/icons/ic3.svg", alt="shield")
                        p.pros-percent 80%
                        p.pros-text   Можливість з легкістю самостійно редагувати лекала та форми 
                    li.pros-item.element-animation
                        .pros-image-wrap 
                            img.pros-image(src="img/icons/ic4.svg", alt="shield")
                        p.pros-percent 80%
                        p.pros-text   Понад 12000 моделей (автомобілі, мотоцикли та інтер'єри)
                    li.pros-item.element-animation
                        .pros-image-wrap 
                            img.pros-image(src="img/icons/ic3.svg", alt="shield")
                        p.pros-percent 120
                        p.pros-text   Можливість з легкістю самостійно редагувати лекала та форми 
                    li.pros-item.element-animation
                        .pros-image-wrap 
                            img.pros-image(src="img/icons/ic4.svg", alt="shield")
                        p.pros-percent 7
                        p.pros-text   Понад 12000 моделей (автомобілі, мотоцикли та інтер'єри)

                p.norm-gray-text.thin.medium-text.centred.m-bottom Прозора плівка для кузова автомобіля. Виконана із 100% високоякісного поліуретану. Створена зберігати кузов автомобіля в первозданному вигляді та захищати від небажаних пошкоджень. Вирізняється неперевершеним блиском та гідрофобними властивостями.

.section 
    .container 
        .slider-big-wrap 
            .swiper.mySwiper2(style='--swiper-navigation-color: #fff; --swiper-pagination-color: #fff')
                .swiper-wrapper
                    .swiper-slide
                        img(src='img/illustrations/slider-image.webp')
                    .swiper-slide
                        img(src='img/illustrations/main.webp')
                    .swiper-slide
                        img(src='img/illustrations/many-cars-mob.webp')
            .swiper.mySwiper(thumbsslider='')
                .swiper-wrapper
                    .swiper-slide
                        img(src='img/illustrations/slider-image.webp')
                    .swiper-slide
                        img(src='img/illustrations/main.webp')
                    .swiper-slide
                        img(src='img/illustrations/many-cars-mob.webp')
.section
    .container
        .horizontal-list.m-bottom 
            .horizontal-item.round-sahadow 
                .image-place 
                    img(src="./img/blue/1.svg ", alt="")
                .text-place 
                    p.card-heading Захист лакофарбового покриття
                    p.text-in-card  PPF допомагає запобігти подряпинам і корозії, що можуть виникнути в результаті контакту з камінням, піщаними доріжками, сілью, комахами та іншими потенційно шкідливими факторами.   
            .horizontal-item.round-sahadow 
                .image-place 
                    img(src="./img/blue/2.svg ", alt="")
                .text-place 
                    p.card-heading Захист лакофарбового покриття
                    p.text-in-card  PPF допомагає запобігти подряпинам і корозії, що можуть виникнути в результаті контакту з камінням, піщаними доріжками, сілью, комахами та іншими потенційно шкідливими факторами.   
            .horizontal-item.round-sahadow 
                .image-place 
                    img(src="./img/blue/3.svg ", alt="")
                .text-place 
                    p.card-heading Захист лакофарбового покриття
                    p.text-in-card  PPF допомагає запобігти подряпинам і корозії, що можуть виникнути в результаті контакту з камінням, піщаними доріжками, сілью, комахами та іншими потенційно шкідливими факторами.   
            .horizontal-item.round-sahadow 
                .image-place 
                    img(src="./img/blue/4.svg ", alt="")
                .text-place 
                    p.card-heading Захист лакофарбового покриття
                    p.text-in-card  PPF допомагає запобігти подряпинам і корозії, що можуть виникнути в результаті контакту з камінням, піщаними доріжками, сілью, комахами та іншими потенційно шкідливими факторами.   


        //- .describe-block
            .describe-item.element-animation 
                .describe-header 
                    .describe-image-wrap 
                        img(src="img/icons/fill-shield.svg", alt="shield")
                    p.describe-head Захист лакофарбового покриття
                p.describe-text PPF допомагає запобігти подряпинам і корозії, що можуть виникнути в результаті контакту з камінням, піщаними доріжками, сілью, комахами та іншими потенційно шкідливими факторами.
            .describe-item.element-animation  
                .describe-header 
                    .describe-image-wrap 
                        img(src="img/icons/fill-bint.svg", alt="shield")
                    p.describe-head Самозагоїння подряпин
                p.describe-text Деякі PPF мають властивість самозагоюватися від подряпин, що зберігає зовнішній вигляд покриття.
            .describe-item.element-animation 
                .describe-header 
                    .describe-image-wrap 
                        img(src="img/icons/fill-stars.svg", alt="shield")
                    p.describe-head Збереження вигляду
                p.describe-text Плівка захищає автомобіль від втрати блиску і кольору лакофарбового покриття під впливом сонячного випромінювання і інших агресивних чинників навколишнього середовища.
            .describe-item.element-animation 
                .describe-header 
                    .describe-image-wrap 
                        img(src="img/icons/fill-bin.svg", alt="shield")
                    p.describe-head Можливість видалення без залишків
                p.describe-text Плівку можна видалити без залишків на лакофарбовому покритті, якщо це необхідно.
            .describe-item.element-animation 
                .describe-header 
                    .describe-image-wrap 
                        img(src="img/icons/fill-devices.svg", alt="shield")
                    p.describe-head Легкість догляду
                p.describe-text PPF легко чистити і доглядати, і воно допомагає зберегти авто у стані нового протягом тривалого часу.
            .describe-item.element-animation 
                .describe-header 
                    .describe-image-wrap 
                        img(src="img/icons/fill-check.svg", alt="shield")
                    p.describe-head Лекість у встановленні
                p.describe-text Легкість у встановленні плівок робить процес захисту автомобіля простим і швидким.
section
    .full-width.more-products 
        h2.h2.centred Дивитися інші продукти
        .slick-wrap-w
            .btn-wrap.second-type 
                button.prev-btn.slider-btns(title="przewiń suwak do tyłu")                     
                button.next-btn.slider-btns(title="przewiń suwak do przodu")  
            .slider-w
                a(href="#").slider-item 
                    .image-wrap 
                        img(src="img/illustrations/slider/1.webp", alt="slider-image")
                    .slider-texts
                        p.slider-header Захисні плівки Bright Headlight 30%
                        p.slider-bottom-text Тип плівки: Поліуретанова плівка
                a(href="#").slider-item
                    .image-wrap 
                        img(src="img/illustrations/slider/2.webp", alt="slider-image")
                    .slider-texts
                        p.slider-header Захисні плівки Bright Headlight 30%
                        p.slider-bottom-text Тип плівки: Поліуретанова плівка
                a(href="#").slider-item 
                    .image-wrap 
                        img(src="img/illustrations/slider/3.webp", alt="slider-image")
                    .slider-texts
                        p.slider-header Захисні плівки Bright Headlight 30%
                        p.slider-bottom-text Тип плівки: Поліуретанова плівка  
                a(href="#").slider-item 
                    .image-wrap 
                        img(src="img/illustrations/slider/1.webp", alt="slider-image")
                    .slider-texts
                        p.slider-header Захисні плівки Bright Headlight 30%
                        p.slider-bottom-text Тип плівки: Поліуретанова плівка
                a(href="#").slider-item
                    .image-wrap 
                        img(src="img/illustrations/slider/2.webp", alt="slider-image")
                    .slider-texts
                        p.slider-header Захисні плівки Bright Headlight 30%
                        p.slider-bottom-text Тип плівки: Поліуретанова плівка
                a(href="#").slider-item 
                    .image-wrap 
                        img(src="img/illustrations/slider/3.webp", alt="slider-image")
                    .slider-texts
                        p.slider-header Захисні плівки Bright Headlight 30%
                        p.slider-bottom-text Тип плівки: Поліуретанова плівка  
