section 
    .l-main.big-container
        .main-content(data-image="img/illustrations/many-cars-mob.webp" data-responsive="img/illustrations/many-cars-big.webp")
            ul.social-media-block 
                li.social-media-li
                    a(href="#").social-media-link
                        img(src="img/icons/fb.svg", alt="facebook")
                li.social-media-li 
                    a(href="#").social-media-link 
                        img(src="img/icons/insta.svg", alt="instagram")
                li.social-media-li 
                    a(href="#").social-smedia-link 
                        img(src="img/icons/youtube.svg", alt="youtube")
            ul.breadcrumb
                a(href="./index.html") Головна сторінка           
                span Захисні гібридні плівки TPH             
            h1.h1 Захисні гібридні плівки TPH
            ul.langs-block 
                li.langs-item 
                    a(href="#").langs-link PL  
                li.langs-item 
                    a(href="#").langs-link En 
            a(href="mailto:info@brightfilms.pl").mail-link   info@brightfilms.pl
section
    .container.information-part 
        h4.h4.element-animation.centered-header.margin-bottom-norm Гібридні плівки (TPH)
        ul.pros-list.margin-top-40.simple 
                    li.pros-item.element-animation
                        .pros-image-wrap 
                            img.pros-image(src="img/blue/car1.svg", alt="flask")

                        p.pros-text   Економія матеріалу та часу на встановлення
                    li.pros-item.element-animation
                        .pros-image-wrap 
                            img.pros-image(src="img/blue/car2.svg", alt="line")
     
                        p.pros-text   Безпечна робота, лако-фарбове покриття в безпеці

        p.big-gray-text.element-animation.centered-header.margin-bottom-norm Гібридні плівки (TPH) виготовлені на основі вінілової плівки, з нанесенням додаткового шару (TOP COAT), це дало змогу знизити собівартість матеріалу, залишаючи захисні якості як у поліуретанових плівок, але з меншим гарантійним терміном експлуатації.
 
.section 
    .container
        .cards-box
            a(href="#").card.element-animation 
                .image-wrap 
                    img(src="img/illustrations/slider/5.webp", alt="slider-image")
                .slider-texts
                    p.card-header Bright Clear Hybrid       
            a(href="#").card.element-animation
                .image-wrap 
                    img(src="img/illustrations/slider/8.webp", alt="slider-image")
                .slider-texts
                    p.card-header Bright Clear Hybrid
           
.section
    .container
        .horizontal-list.m-bottom 
            .horizontal-item.round-sahadow 
                .image-place 
                    img(src="./img/blue/1.svg ", alt="")
                .text-place 
                    p.card-heading Захист лакофарбового покриття
                    p.text-in-card  PPF допомагає запобігти подряпинам і корозії, що можуть виникнути в результаті контакту з камінням, піщаними доріжками, сілью, комахами та іншими потенційно шкідливими факторами.   
            .horizontal-item.round-sahadow 
                .image-place 
                    img(src="./img/blue/2.svg ", alt="")
                .text-place 
                    p.card-heading Захист лакофарбового покриття
                    p.text-in-card  PPF допомагає запобігти подряпинам і корозії, що можуть виникнути в результаті контакту з камінням, піщаними доріжками, сілью, комахами та іншими потенційно шкідливими факторами.   
            .horizontal-item.round-sahadow 
                .image-place 
                    img(src="./img/blue/3.svg ", alt="")
                .text-place 
                    p.card-heading Захист лакофарбового покриття
                    p.text-in-card  PPF допомагає запобігти подряпинам і корозії, що можуть виникнути в результаті контакту з камінням, піщаними доріжками, сілью, комахами та іншими потенційно шкідливими факторами.   
            .horizontal-item.round-sahadow 
                .image-place 
                    img(src="./img/blue/4.svg ", alt="")
                .text-place 
                    p.card-heading Захист лакофарбового покриття
                    p.text-in-card  PPF допомагає запобігти подряпинам і корозії, що можуть виникнути в результаті контакту з камінням, піщаними доріжками, сілью, комахами та іншими потенційно шкідливими факторами.   