main
    .l-main.big-container
        .main-content.main-page(data-image="img/illustrations/main-min.webp" data-responsive="img/illustrations/main.webp")
            ul.social-media-block 
                li.social-media-li
                    a(href="#").social-media-link
                        img(src="img/icons/fb.svg", alt="facebook")
                li.social-media-li 
                    a(href="#").social-media-link 
                        img(src="img/icons/insta.svg", alt="instagram")
                li.social-media-li 
                    a(href="#").social-smedia-link 
                        img(src="img/icons/youtube.svg", alt="youtube")
            h1.h1-mega Захисні плівки PPF
            p.main-subheader Дистриб'ютор плівки PPF, Польща
            p.micro-subheader  Ознайомтеся з нашими плівками та керамічними покриттями PPF
            .main-links-wrap 
                a(href="#").main-links  Антигравійні плівки
                a(href="#").main-links  Плівка для тонування       
            ul.langs-block 
                li.langs-item 
                    a(href="#").langs-link PL  
                li.langs-item 
                    a(href="#").langs-link En 
            a(href="mailto:info@brightfilms.pl").mail-link   info@brightfilms.pl      
        .bottom-part 
            h2.h2.upper Співпраця
            p.bold-gray-text Автомобільні плівки бренду “Bright” об’єднують в собі лише добірні позиції кращих виробників Південної Кореї.
            a.button.button-empty.hook-scroll(title="Wyślij aplikację" href="#contacts") Відправити заявку
    section
        .container.information-block
            .two-cols 
                .col 
                    p.header-up Наші продукти
                    h3.h3.upper Антигравійні плівки для кузова автомобіля
                .col 
                    ul.info-item 
                        li.info-item--list-item.element-animation
                            p.small-header Поліуретанові (TPU) плівки
                            p.gray-text Найпопулярніший варіант для обклеювання авто. На вибір: прозора, тонувальна, матова, карбонова.
                        li.info-item--list-item.element-animation
                            p.small-header Гібридні плівки (TPH)
                            p.gray-text Виготовлені на основі вінілової плівки, з нанесенням додаткового шару. На вибір: прозора або чорна.
            .two-cols 
                .col 
                    ul.pros-list 
                        li.pros-item.element-animation
                            .pros-image-wrap 
                                img.pros-image(src="img/icons/lightning.svg", alt="lightning")
                            p.pros-text   Вражаюче самовідновлення плівок  
                        li.pros-item.element-animation
                            .pros-image-wrap 
                                img.pros-image(src="img/icons/drops.svg", alt="drops")
                            p.pros-text   Ефективний гідрофобний ефект 
                        li.pros-item.element-animation
                            .pros-image-wrap 
                                img.pros-image(src="img/icons/stars.svg", alt="stras")
                            p.pros-text   Прозорість та сяючий блиск  
                .col
                    ul.pros-list 
                        li.pros-item.element-animation
                            .pros-image-wrap 
                                img.pros-image(src="img/icons/flask.svg", alt="flask")
                            p.pros-text   Стійкість до реагентів та органіки
                        li.pros-item.element-animation
                            .pros-image-wrap 
                                img.pros-image(src="img/icons/line.svg", alt="line")
                            p.pros-text   Товщина (мкм)
                        li.pros-item.element-animation
                            .pros-image-wrap 
                                img.pros-image(src="img/icons/shield.svg", alt="shield")
                            p.pros-text   Гарантія (роки)
        .container-no-end
            .no-end-wrap 
                h4.h4 Антигравійні плівки для кузова автомобіля
                p.norm-gray-text Асортимент являє собою поліуретанові та гібридні плівки вироблені з різної сировини, але з однаковим цільовим призначенням.
                .btn-wrap.main-type 
                    button.prev-btn.slider-btns(title="przewiń suwak do tyłu")                    
                    button.next-btn.slider-btns(title="przewiń suwak do przodu") 
            .slick-wrap
                .slider
                    a(href="#").slider-item 
                        .image-wrap 
                            img(src="img/illustrations/slider/1.webp", alt="slider-image")
                        .slider-texts
                            p.slider-header Захисні плівки Bright Headlight 30%
                            p.slider-bottom-text Тип плівки: Поліуретанова плівка
                    a(href="#").slider-item 
                        .image-wrap 
                            img(src="img/illustrations/slider/2.webp", alt="slider-image")
                        .slider-texts
                            p.slider-header Захисні плівки Bright Headlight 30%
                            p.slider-bottom-text Тип плівки: Поліуретанова плівка
                    a(href="#").slider-item 
                        .image-wrap 
                            img(src="img/illustrations/slider/3.webp", alt="slider-image")
                        .slider-texts
                            p.slider-header Захисні плівки Bright Headlight 30%
                            p.slider-bottom-text Тип плівки: Поліуретанова плівка      
    section.blue-section
        .container 
            .two-cols
                .col.text-col
                    h4.h4.element-animation Величезна база готових автомобільних форм – ваш шлях до творчого автодизайну!
                    p.norm-gray-text.element-animation Економте свій час та віддайте перевагу швидкості та ефективності! Наша база готових вирізів дозволяє вам зосередитися на самому важливому – на вашому творчому процесі.
                    a(href="#").main-links.type-2.element-animation Дізнатись більше
                .col.illustration-col
                    .wrap-illustration 
                        img(src="img/illustrations/car.webp", alt="car")
    section 
        .container.information-part
            h3.h3 Плівка для тонування C Series
            p.big-gray-text Тонувальна плівка “Bright” C Series керамічна плівка з максимальним атермальним ефектом. Плівка виготовлена з нановуглецевого матеріалу за багатошаровою технологією, що забезпечує ідеальну прозорість, а також надійний захист від сонячного тепла.
            .two-cols    
                .col 
                    ul.pros-list 
                        li.pros-item.element-animation
                            .pros-image-wrap 
                                img.pros-image(src="img/icons/shield2.svg", alt="lightning")
                            p.pros-text   Cтійке до подряпин покриття  
                        li.pros-item.element-animation
                            .pros-image-wrap 
                                img.pros-image(src="img/icons/molecula.svg", alt="drops")
                            p.pros-text   Гранули кольору з наночастинками
                        li.pros-item.element-animation
                            .pros-image-wrap 
                                img.pros-image(src="img/icons/clue.svg", alt="stras")
                            p.pros-text   Ультра прозорий клейовий шар 
                .col
                    ul.pros-list 
                        li.pros-item.element-animation
                            .pros-image-wrap 
                                img.pros-image(src="img/icons/layer.svg", alt="flask")
                            p.pros-text   Полімер з нанокерамічним матеріалом
                        li.pros-item.element-animation
                            .pros-image-wrap 
                                img.pros-image(src="img/icons/molecula2.svg", alt="line")
                            p.pros-text   Полімер з нановуглецевим матеріалом
                        li.pros-item.element-animation
                            .pros-image-wrap 
                                img.pros-image(src="img/icons/layer2.svg", alt="shield")
                            p.pros-text   Підкладка
        .container-no-end
            .no-end-wrap 
                h4.h4 Плівка для тонування “Bright” C Series
                p.norm-gray-text Тонувальна плівка “Bright” C Series керамічна плівка з максимальним атермальним ефектом.
                .btn-wrap.main-type 
                    button.prev-btn.slider-btns(title="przewiń suwak do tyłu")                     
                    button.next-btn.slider-btns(title="przewiń suwak do przodu")  
            .slick-wrap
                .slider2 
                    a(href="#").slider-item 
                        .image-wrap 
                            img(src="img/illustrations/slider/5.webp", alt="slider-image")
                        .slider-texts
                            p.slider-header С Series 15%
                    a(href="#").slider-item 
                        .image-wrap 
                            img(src="img/illustrations/slider/6.webp", alt="slider-image")
                        .slider-texts
                            p.slider-header С Series 15%
                    a(href="#").slider-item 
                        .image-wrap 
                            img(src="img/illustrations/slider/7.webp", alt="slider-image")
                        .slider-texts
                            p.slider-header С Series 15%
                    a(href="#").slider-item 
                        .image-wrap 
                            img(src="img/illustrations/slider/8.webp", alt="slider-image")
                        .slider-texts
                            p.slider-header С Series 15%
        .container.slid-text-section
            h2.h2.only-mobile.element-animation Хто ми?
            .two-cols 
                .col
                    .sliders-wrap 
                        .slider-main
                            .item
                                a( href="img/illustrations/slider/car.webp" data-lightbox="group" data-title="Bright")
                                    img(src="img/illustrations/slider/car.webp",  alt="car")
                            .item
                                a( href="img/illustrations/slider/car2.webp" data-lightbox="group" data-title="Bright")
                                    img(src="img/illustrations/slider/car2.webp", alt="car")
                            .item
                                a( href="img/illustrations/slider/car.webp" data-lightbox="group" data-title="Bright")
                                    img(src="img/illustrations/slider/car.webp", alt="car")         
                            .item
                                a( href="img/illustrations/slider/car2.webp" data-lightbox="group" data-title="Bright")
                                    img(src="img/illustrations/slider/car2.webp", alt="car")
                            .item
                                a( href="img/illustrations/slider/car3.webp" data-lightbox="group" data-title="Bright")
                                    img(src="img/illustrations/slider/car3.webp", alt="car")           
                        .slider-nav
                            .item 
                                img(src="img/illustrations/slider/car.webp", alt="car")
                            .item 
                                img(src="img/illustrations/slider/car3.webp", alt="car") 
                            .item 
                                img(src="img/illustrations/slider/car.webp", alt="car")
                            .item 
                                img(src="img/illustrations/slider/car3.webp", alt="car") 
                            .item 
                                img(src="img/illustrations/slider/car4.webp", alt="car")
                    a(href="#").main-links.type-2.only-desctop  Дивитися більше  
                .col.text-col 
                    h2.h2.only-desctop.element-animation Хто ми?
                    p.subheader-text.element-animation Автомобільні плівки бренду “Bright” об’єднують в собі лише добірні позиції кращих виробників Південної Кореї.
                    p.big-gray-text.element-animation Вивчаючи світові тенденції та бажання сучасного споживача ми створили широку лінійку матеріалів, які можуть подбати про захист та зовнішню красу автомобіля.
        .container-no-end.margin-bottom
            .no-end-wrap 
                h4.h4 Реалізовані проєкти
                p.norm-gray-text Ми пропонуємо самовідновлювальні захисні плівки PPF для кузова автомобіля та багато іншого.
                .btn-wrap.main-type 
                    button.prev-btn.slider-btns(title="przewiń suwak do tyłu")                     
                    button.next-btn.slider-btns(title="przewiń suwak do przodu")  
            .slick-wrap
                .slider2 
                    a(href="#").slider-item 
                        .image-wrap 
                            img(src="img/illustrations/slider/cars.webp", alt="slider-image")
                        .slider-texts
                            p.slider-header 
                            p.slider-bottom-text Porsche Panamera

                    a(href="#").slider-item 
                        .image-wrap 
                            img(src="img/illustrations/slider/cars2.webp", alt="slider-image")
                        .slider-texts
                            p.slider-header 
                            p.slider-bottom-text Audi RS3
                    a(href="#").slider-item 
                        .image-wrap 
                            img(src="img/illustrations/slider/cars3.webp", alt="slider-image")
                        .slider-texts
                            p.slider-header 
                            p.slider-bottom-text 2020 BMW M8
                    a(href="#").slider-item 
                        .image-wrap 
                            img(src="img/illustrations/slider/cars1.webp", alt="slider-image")
                        .slider-texts
                            p.slider-header 
                            p.slider-bottom-text Mini Cooper S
    section.partner-section.car-before(data-scroll="contacts" id="contacts")
        .container
            .two-cols 
                .col
                    h2.h2.element-animation Стати партнером
                    p.norm-gray-text.thin Дякуємо за виявлену вами зацікавленість у співпраці з нашою компанією. Ми завжди відкриті до нових партнерських можливостей та співпраці з інноваційними та амбіційними організаціями.
                    ul.standart-list 
                        li.norm-gray-text.element-animation Ми зателефонуємо вам, щоб обговорити те, що вам потрібно
                        li.norm-gray-text.element-animation Ми надішлемо вам індивідуальну пропозицію
                        li.norm-gray-text.element-animation Ми звяжемося з вами знову, щоб відповісти на будь-які ваші запитання та визначити, чи має сенс співпраця
                    ul.adress-list.element-animation
                        li.adress-li
                            .adress-img-wrap
                                img(src="img/icons/location-fill.svg", alt="location").adress-img 
                            a(href="https://www.google.com/maps/search/%D0%92%D1%83%D0%BB%D0%B8%D1%86%D1%8F+%D0%9E%D1%80%D0%BA%D1%96%D1%88%D0%BE%D0%B2%D0%B0,+10,+02-886+%D0%92%D0%B0%D1%80%D1%88%D0%B0%D0%B2%D0%B0/@51.4638918,20.1691892,7.63z?hl=uk-UK&entry=ttu").adress-link.adress Вулиця Оркішова, 10, 02-886 Варшава
                        li.adress-li
                            .adress-img-wrap
                                img(src="img/icons/phone-fill.svg", alt="location").adress-img 
                            a(href="tel:+48881928014").adress-link +48 881 928014
                        li.adress-li
                            .adress-img-wrap
                                img(src="img/icons/mail-fill.svg", alt="location").adress-img 
                            a(href="mailto:info@brightfilms.pl").adress-link info@brightfilms.pl
                .col 
                    .form-part.element-animation
                        form(id='contact-form' onsubmit='return validateForm(event)')
                            .form-group
                                input(type='text', id='name', name='phone', placeholder='Назва компанії', aria-label="Nazwa firmy",  required)
                                span.error-message(id='name-error') 
                            .form-group
                                input(type='email', id='mail', name='phone', placeholder='Електронна пошта', aria-label="E-mail",  required)
                                span.error-message(id='mail-error') 
                            .form-group
                                input(type='tel', id='phone', name='phone', placeholder='Контактний телефон', aria-label="Telefoniczny numer kontaktowy" , pattern='[0-9]{10}', required)
                                //- span.error-message(id='phone-error') Невірний номер
                            .form-group
                                label.check-container
                                    input(type="checkbox" aria-label="wyrażasz zgodę na naszą politykę prywatności.").checkbox
                                    span.checkmark
                                p.text-agree  Відправляючи форму, ви погоджуєтесь з нашою 
                                    a(href="#") політикою конфіденційності.   
                            .form-group
                                label.check-container
                                    input(type="checkbox" aria-label="Podałem prawdziwy numer identyfikacyjny podatnika mojej firmy.").checkbox
                                    span.checkmark
                                p.text-agree  Я приватний підприємець. Я ввів реальний ідентифікаційний номер платника податків моєї компанії.  
                            button.button.button-blue(type='submit' title="wyślij formularz") Надіслати
