main.l-main.big-container
    .main-content
        ul.social-media-block 
            li.social-media-li
                a(href="#").social-media-link
                    img(src="../img/icons/fb.svg", alt="facebook")
            li.social-media-li 
                a(href="#").social-media-link 
                    img(src="../img/icons/insta.svg", alt="instagram")
            li.social-media-li 
                a(href="#").social-smedia-link 
                    img(src="../img/icons/youtube.svg", alt="youtube")
        h1.h1-mega Захисні плівки PPF
        p.main-subheader Дистриб'ютор плівки PPF, Польща
        p.micro-subheader  Ознайомтеся з нашими плівками та керамічними покриттями PPF
        .main-links-wrap 
            a(href="#").main-links  Антигравійні плівки
            a(href="#").main-links  Плівка для тонування       
        ul.langs-block 
            li.langs-item 
                a(href="#").langs-link PL  
            li.langs-item 
                a(href="#").langs-link En 
        a(href="mailto:info@brightfilms.pl").mail-link   info@brightfilms.pl      
    .bottom-part 
        h2.h2 Співпраця
        p.bold-gray-text Автомобільні плівки бренду “Bright” об’єднують в собі лише добірні позиції кращих виробників Південної Кореї.
        button.button.button-empty Відправити заявку

