section 
    .l-main.big-container
        .main-content(data-image="img/illustrations/many-cars-mob.webp" 
        data-responsive="img/illustrations/many-cars-big.webp")
            ul.social-media-block 
                li.social-media-li
                    a(href="#").social-media-link
                        img(src="img/icons/fb.svg", alt="facebook")
                li.social-media-li 
                    a(href="#").social-media-link 
                        img(src="img/icons/insta.svg", alt="instagram")
                li.social-media-li 
                    a(href="#").social-smedia-link 
                        img(src="img/icons/youtube.svg", alt="youtube")
            ul.breadcrumb
                a(href="./index.html") Головна         
                span Наші контакти
            h1.h1 Наші контакти
            ul.langs-block 
                li.langs-item 
                    a(href="#").langs-link PL  
                li.langs-item 
                    a(href="#").langs-link En 
            a(href="mailto:info@brightfilms.pl").mail-link  info@brightfilms.pl      
section 
    .container.map-container.margin-bottom-big 
        h4.h4.element-animation.centered-header.decor-line.decor-line-centered.no-margin  Наші Конакти
        p.medium-text.medium-text.norm-gray-text.centered-header.element-animation Ми завжди відкриті до нових партнерських можливостей та співпраці з інноваційними та амбіційними організаціями. Щоб знайти точки продажів, подивіться на карті
        .map-palce.margin-bottom-big
            iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63842.163046993206!2d20.748721234127547!3d52.26028220044693!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471ecb19645b3059%3A0x9e06df40b484a3d!2zR09MRFNFUldJUyBBdXRvU2Vyd2lzINCh0KLQniDQkNCy0YLQvtGB0LXRgNCy0LjRgQ!5e0!3m2!1suk!2sua!4v1699455811507!5m2!1suk!2sua'   style='border:0;' allowfullscreen='' loading='lazy' referrerpolicy='no-referrer-when-downgrade')
        
section.contacts-centers 
    .container.margin-bottom-big
        h4.h4.element-animation.centered-header.decor-line.decor-line-centered.no-margin  Точкі продажу
        .partners-cards-wrap 
            .partner-card  
                .partner-name Магазин Автосервіс Преміум
                .info-line
                    .icon-wrap 
                        img(src="img/icons/system-uicons_location.svg", alt="")
                    .info-sence 
                        a(target="_blank" href="https://maps.app.goo.gl/1PsQtYSF6GP3CLyY8") Вроцлав, Вулиця Качинського 10, офіс 10, 359565   
                .info-line
                    .icon-wrap 
                        img(src="img/icons/ph_phone-thin.svg", alt="")
                    .info-sence
                        .phone-wrap 
                            a(href="telto:+38 093 545 433") +38 093 545 433
                            a(href="telto:+38 093 545 433") +38 093 545 433
            .partner-card  
                .partner-name Магазин Авто
                .info-line
                    .icon-wrap 
                        img(src="img/icons/system-uicons_location.svg", alt="")
                    .info-sence 
                        a(target="_blank" href="https://maps.app.goo.gl/1PsQtYSF6GP3CLyY8") Вроцлав,10, офіс 10
                .info-line
                    .icon-wrap 
                        img(src="img/icons/ph_phone-thin.svg", alt="")
                    .info-sence
                        .phone-wrap 
                            a(href="telto:+38 093 545 433") +38 093 545 433  
            .partner-card  
                .partner-name Магазин Автосервіс Преміум
                .info-line
                    .icon-wrap 
                        img(src="img/icons/system-uicons_location.svg", alt="")
                    .info-sence 
                        a(target="_blank" href="https://maps.app.goo.gl/1PsQtYSF6GP3CLyY8") Вроцлав, Вулиця Качинського 10, офіс 10, 359565   
                .info-line
                    .icon-wrap 
                        img(src="img/icons/ph_phone-thin.svg", alt="")
                    .info-sence
                        .phone-wrap 
                            a(href="telto:+38 093 545 433") +38 093 545 433                            
            .partner-card  
                .partner-name Магазин Автосервіс Преміум Премиум ультра СТО
                .info-line
                    .icon-wrap 
                        img(src="img/icons/system-uicons_location.svg", alt="")
                    .info-sence 
                        a(target="_blank" href="https://maps.app.goo.gl/1PsQtYSF6GP3CLyY8") Вроцлав, Вулиця Качинського 10, офіс 10, 359565   
                .info-line
                    .icon-wrap 
                        img(src="img/icons/ph_phone-thin.svg", alt="")
                    .info-sence
                        .phone-wrap 
                            a(href="telto:+38 093 545 433") +38 093 545 433
                            a(href="telto:+38 093 545 433") +38 093 545 433
            .partner-card  
                .partner-name Магазин Автосервіс Преміум сумери мега класний магазин про все у світі
                .info-line
                    .icon-wrap 
                        img(src="img/icons/system-uicons_location.svg", alt="")
                    .info-sence 
                        a(target="_blank" href="https://maps.app.goo.gl/1PsQtYSF6GP3CLyY8") Вроцлав, Вулиця Качинського 10, офіс 10, 359565   
                .info-line
                    .icon-wrap 
                        img(src="img/icons/ph_phone-thin.svg", alt="")
                    .info-sence
                        .phone-wrap 
                            a(href="telto:+38 093 545 433") +38 093 545 433  
.section
    .container.margin-bottom-big
        h4.h4.thin.element-animation.centred.padding-30.centered-header.decor-line.decor-line-centered Як з нами зв’язатись?
        .form-part.element-animation.round-sahadow
            form(id='contact-form' onsubmit='return validateForm(event)').form-2.cont-form
                .form-row
                    h4.h4.thin.element-animation.centred.centered-header Наші контакти
                    p.form-text.element-animation.element-show За потреби ви можете зав'язатись з нами будь-яким зручним для вас способом
                    .form-cont
                        .info-line
                            .icon-wrap 
                                img(src="img/icons/system-uicons_location.svg", alt="")
                            .info-sence 
                                a(target="_blank" href="https://maps.app.goo.gl/1PsQtYSF6GP3CLyY8") Вроцлав, Вулиця Качинського 10, офіс 10, 359565   
                        .info-line
                            .icon-wrap 
                                img(src="img/icons/ph_phone-thin.svg", alt="")
                            .info-sence
                                .phone-wrap 
                                    a(href="telto:+38 093 545 433") +38 093 545 433
                        .info-line
                            .icon-wrap 
                                img(src="img/icons/mm.svg", alt="")
                            .info-sence
                                .phone-wrap 
                                    a(href="mailto:info@brightfilms.pl") info@brightfilms.pl
                
                .form-row
                    h4.h4.thin.element-animation.centred.centered-header Напишіть нам
                    .form-group
                        input(type='text', id='name', name='name', autocomplete="on" , placeholder='Ваше iм\'я', aria-label="Nazwa firmy",  required)
                        span.error-message(id='name-error') 
                    .form-group
                        input(type='email', id='mail', name='e-mail', autocomplete="on" , placeholder='Електронна пошта', aria-label="E-mail",  required)
                        span.error-message(id='mail-error') 
                    .form-group
                        input(type='tel', id='phone', name='phone', autocomplete="on" , placeholder='Контактний телефон', aria-label="Telefoniczny numer kontaktowy",  required)
                        span.error-message(id='phone-error') Невірний номер                    
                    .form-group.padding-30
                        label.check-container
                            input(type="checkbox" , name="agree" ,aria-label="wyrażasz zgodę na naszą politykę prywatności.").checkbox
                            span.checkmark
                        p.text-agree  Відправляючи форму, ви погоджуєтесь з нашою 
                            a(href="#") політикою конфіденційності.   
                    button.button.button-blue.centered(type='submit' title="wyślij formularz").form-btn Надіслати
section 
    .container
        h4.h4.oncenter.element-animation.centered-header.decor-line.decor-line-centered.margin-bottom-big Дякуємо за виявлену вами зацікавленість у співпраці з нашою компанією. Ми завжди відкриті до нових партнерських можливостей та співпраці з інноваційними та амбіційними організаціями.
