section 
    .l-main.big-container
        .main-content(data-image="img/illustrations/save-plivka-mob.webp" 
        data-responsive="img/illustrations/save-plivka-big.webp")
            ul.social-media-block 
                li.social-media-li
                    a(href="#").social-media-link
                        img(src="img/icons/fb.svg", alt="facebook")
                li.social-media-li 
                    a(href="#").social-media-link 
                        img(src="img/icons/insta.svg", alt="instagram")
                li.social-media-li 
                    a(href="#").social-smedia-link 
                        img(src="img/icons/youtube.svg", alt="youtube")
            ul.breadcrumb
                a(href="./index.html") Головна сторінка           
                span Захисні поліуретанові плівки PPF      
            h1.h1 Захисні поліуретанові плівки PPF
            ul.langs-block 
                li.langs-item 
                    a(href="#").langs-link PL  
                li.langs-item 
                    a(href="#").langs-link En 
            a(href="mailto:info@brightfilms.pl").mail-link   info@brightfilms.pl


section.ov-hidden
    .container.information-part
        h4.h4.thin.element-animation.centred.padding-30.centered-header  Що таке захисні плівки PPF?
        .big-illustration.element-animation.margin-bottom-norm 
            img(src="img/illustrations/layer.png", alt="flu-car")
        
        .horizontal-list.margin-bottom-norm 
            .horizontal-item.round-sahadow 
                .image-place 
                    img(src="./img/blue/1.svg ", alt="")
                .text-place                     
                    p.text-in-card  PPF допомагає запобігти подряпинам і корозії, що можуть виникнути в результаті контакту з камінням, піщаними доріжками, сілью, комахами та іншими потенційно шкідливими факторами.   
            .horizontal-item.round-sahadow 
                .image-place 
                    img(src="./img/blue/2.svg ", alt="")
                .text-place 
                    p.text-in-card  PPF допомагає запобігти подряпинам і корозії, що можуть виникнути в результаті контакту з камінням, піщаними доріжками, сілью, комахами та іншими потенційно шкідливими факторами.   
        
        p.medium-text.element-animation.centered-header.margin-bottom-big Гібридні плівки (TPH) виготовлені на основі вінілової плівки, з нанесенням додаткового шару (TOP COAT), це дало змогу знизити собівартість матеріалу, залишаючи захисні якості як у поліуретанових плівок, але з меншим гарантійним терміном експлуатації.
        
        h4.h4.thin.element-animation.centred.padding-30.centered-header.decor-line.decor-line-centered Сучасний світ змінив уявлення про антигравійні плівки. Тепер це не лише прозорі плівки, а й кольорові, з різними візуальними ефектами та стайлінгові плівки. В залежності від потреби всі матеріали розділені на серії:
                        
.section 
    .container.margin-bottom-norm 
        .cards-box
            a(href="#").card.element-animation 
                .image-wrap 
                    img(src="img/illustrations/slider/1.webp", alt="slider-image")
                .slider-texts
                    p.card-header Захисні плівки Bright Clear PPF
                    p.card-bottom  Тип плівки: Поліуретанова плівка
            a(href="#").card.element-animation
                .image-wrap 
                    img(src="img/illustrations/slider/2.webp", alt="slider-image")
                .slider-texts
                    p.card-header Захисні плівки Bright Clear PPF
                    p.card-bottom  Тип плівки: Поліуретанова плівка
            a(href="#").card.element-animation 
                .image-wrap 
                    img(src="img/illustrations/slider/3.webp", alt="slider-image")
                .slider-texts
                    p.card-header Захисні плівки Bright Clear PPF  
                    p.card-bottom  Тип плівки: Поліуретанова плівка  
            a(href="#").card.element-animation
                .image-wrap 
                    img(src="img/illustrations/slider/4.webp", alt="slider-image")
                .slider-texts
                    p.card-header Захисні плівки Bright Clear PPF
                    p.card-bottom  Тип плівки: Поліуретанова плівка 
            a(href="#").card.element-animation 
                .image-wrap 
                    img(src="img/illustrations/slider/6.webp", alt="slider-image")
                .slider-texts
                    p.card-header Захисні плівки Bright Clear PPF 
                    p.card-bottom  Тип плівки: Поліуретанова плівка 
            a(href="#").card.element-animation
                .image-wrap 
                    img(src="img/illustrations/slider/8.webp", alt="slider-image")
                .slider-texts
                    p.card-header Захисні плівки Bright Clear PPF
                    p.card-bottom  Тип плівки: Поліуретанова плівка 
            a(href="#").card.element-animation 
                .image-wrap 
                    img(src="img/illustrations/slider/5.webp", alt="slider-image")
                .slider-texts
                    p.card-header Захисні плівки Bright Clear PPF 
                    p.card-bottom  Тип плівки: Поліуретанова плівка 
            a(href="#").card.element-animation
                .image-wrap 
                    img(src="img/illustrations/slider/7.webp", alt="slider-image")
                .slider-texts
                    p.card-header Захисні плівки Bright Clear PPF
                    p.card-bottom  Тип плівки: Поліуретанова плівка 
           
.section
    .container
        .horizontal-list.margin-bottom-big 
            .horizontal-item.round-sahadow 
                .image-place 
                    img(src="./img/blue/1.svg ", alt="")
                .text-place 
                    p.card-heading Захист лакофарбового покриття
                    p.text-in-card  PPF допомагає запобігти подряпинам і корозії, що можуть виникнути в результаті контакту з камінням, піщаними доріжками, сілью, комахами та іншими потенційно шкідливими факторами.   
            .horizontal-item.round-sahadow 
                .image-place 
                    img(src="./img/blue/2.svg ", alt="")
                .text-place 
                    p.card-heading Захист лакофарбового покриття
                    p.text-in-card  PPF допомагає запобігти подряпинам і корозії, що можуть виникнути в результаті контакту з камінням, піщаними доріжками, сілью, комахами та іншими потенційно шкідливими факторами.   
            .horizontal-item.round-sahadow 
                .image-place 
                    img(src="./img/blue/3.svg ", alt="")
                .text-place 
                    p.card-heading Захист лакофарбового покриття
                    p.text-in-card  PPF допомагає запобігти подряпинам і корозії, що можуть виникнути в результаті контакту з камінням, піщаними доріжками, сілью, комахами та іншими потенційно шкідливими факторами.   
            .horizontal-item.round-sahadow 
                .image-place 
                    img(src="./img/blue/4.svg ", alt="")
                .text-place 
                    p.card-heading Захист лакофарбового покриття
                    p.text-in-card  PPF допомагає запобігти подряпинам і корозії, що можуть виникнути в результаті контакту з камінням, піщаними доріжками, сілью, комахами та іншими потенційно шкідливими факторами.   
    h4.h4.thin.element-animation.centred.margin-bottom-big.centered-header.decor-line.decor-line-centered BRIGHT - створеній дбати про кожного.
