section 
    .l-main.big-container
        .main-content(data-image="img/illustrations/save-plivka-mob.png" 
        data-responsive="img/illustrations/save-plivka-big.png")
            ul.breadcrumb
                a(href="./index.html") Головна сторінка           
                span Захисні поліуретанові плівки PPF      
            h1.h1 Захисні поліуретанові плівки PPF
section
    .container.information-part 
        h2.h2.element-animation Що таке захисні плівки PPF?
        .wrap-illustration 
            img(src="../img/illustrations/car-flu.png", alt="flu-car")

        p.big-gray-text.element-animation Гібридні плівки (TPH) виготовлені на основі вінілової плівки, з нанесенням додаткового шару (TOP COAT), це дало змогу знизити собівартість матеріалу, залишаючи захисні якості як у поліуретанових плівок, але з меншим гарантійним терміном експлуатації.
            .two-cols    
                .col 
                    ul.pros-list 
                        li.pros-item.element-animation
                            .pros-image-wrap 
                                img.pros-image(src="img/icons/car-fill.svg", alt="car")
                            p.pros-text   Чорна гібридна плівка                        
                .col
                    ul.pros-list 
                        li.pros-item.element-animation
                            .pros-image-wrap 
                                img.pros-image(src="img/icons/car-empty.svg", alt="flask")
                            p.pros-text   Прозора гібридна плівка
                        
.section 
    .container-no-end 
        .cards-box
            a(href="#").card.element-animation 
                .image-wrap 
                    img(src="img/illustrations/slider/1.jpg", alt="slider-image")
                .slider-texts
                    p.card-header Захисні плівки Bright Clear PPF
                    p.card-bottom  Тип плівки: Поліуретанова плівка
            a(href="#").card.element-animation
                .image-wrap 
                    img(src="img/illustrations/slider/2.jpg", alt="slider-image")
                .slider-texts
                    p.card-header Захисні плівки Bright Clear PPF
                    p.card-bottom  Тип плівки: Поліуретанова плівка
            a(href="#").card.element-animation 
                .image-wrap 
                    img(src="img/illustrations/slider/3.jpg", alt="slider-image")
                .slider-texts
                    p.card-header Захисні плівки Bright Clear PPF  
                    p.card-bottom  Тип плівки: Поліуретанова плівка  
            a(href="#").card.element-animation
                .image-wrap 
                    img(src="img/illustrations/slider/4.jpg", alt="slider-image")
                .slider-texts
                    p.card-header Захисні плівки Bright Clear PPF
                    p.card-bottom  Тип плівки: Поліуретанова плівка 
            a(href="#").card.element-animation 
                .image-wrap 
                    img(src="img/illustrations/slider/6.png", alt="slider-image")
                .slider-texts
                    p.card-header Захисні плівки Bright Clear PPF 
                    p.card-bottom  Тип плівки: Поліуретанова плівка 
            a(href="#").card.element-animation
                .image-wrap 
                    img(src="img/illustrations/slider/8.png", alt="slider-image")
                .slider-texts
                    p.card-header Захисні плівки Bright Clear PPF
                    p.card-bottom  Тип плівки: Поліуретанова плівка 
            a(href="#").card.element-animation 
                .image-wrap 
                    img(src="img/illustrations/slider/5.png", alt="slider-image")
                .slider-texts
                    p.card-header Захисні плівки Bright Clear PPF 
                    p.card-bottom  Тип плівки: Поліуретанова плівка 
            a(href="#").card.element-animation
                .image-wrap 
                    img(src="img/illustrations/slider/7.png", alt="slider-image")
                .slider-texts
                    p.card-header Захисні плівки Bright Clear PPF
                    p.card-bottom  Тип плівки: Поліуретанова плівка 
           
.section.full-width
        .describe-block
            .describe-item.element-animation 
                .describe-header 
                    .describe-image-wrap 
                        img(src="../img/icons/fill-shield.svg", alt="shield")
                    p.describe-head Захист лакофарбового покриття
                p.describe-text PPF допомагає запобігти подряпинам і корозії, що можуть виникнути в результаті контакту з камінням, піщаними доріжками, сілью, комахами та іншими потенційно шкідливими факторами.
            .describe-item.element-animation 
                .describe-header 
                    .describe-image-wrap 
                        img(src="../img/icons/fill-bint.svg", alt="shield")
                    p.describe-head Самозагоїння подряпин
                p.describe-text Деякі PPF мають властивість самозагоюватися від подряпин, що зберігає зовнішній вигляд покриття.
            .describe-item.element-animation 
                .describe-header 
                    .describe-image-wrap 
                        img(src="../img/icons/fill-stars.svg", alt="shield")
                    p.describe-head Збереження вигляду
                p.describe-text Плівка захищає автомобіль від втрати блиску і кольору лакофарбового покриття під впливом сонячного випромінювання і інших агресивних чинників навколишнього середовища.
            .describe-item.element-animation 
                .describe-header 
                    .describe-image-wrap 
                        img(src="../img/icons/fill-bin.svg", alt="shield")
                    p.describe-head Можливість видалення без залишків
                p.describe-text Плівку можна видалити без залишків на лакофарбовому покритті, якщо це необхідно.
            .describe-item.element-animation 
                .describe-header 
                    .describe-image-wrap 
                        img(src="../img/icons/fill-devices.svg", alt="shield")
                    p.describe-head Легкість догляду
                p.describe-text PPF легко чистити і доглядати, і воно допомагає зберегти авто у стані нового протягом тривалого часу.
            .describe-item.element-animation 
                .describe-header 
                    .describe-image-wrap 
                        img(src="../img/icons/fill-check.svg", alt="shield")
                    p.describe-head Лекість у встановленні
                p.describe-text Легкість у встановленні плівок робить процес захисту автомобіля простим і швидким.



