section 
    .l-main.big-container
        .main-content(data-image="img/illustrations/save-plivka-mob.webp" 
        data-responsive="img/illustrations/save-plivka-big.webp")
            ul.social-media-block 
                li.social-media-li
                    a(href="#").social-media-link
                        img(src="img/icons/fb.svg", alt="facebook")
                li.social-media-li 
                    a(href="#").social-media-link 
                        img(src="img/icons/insta.svg", alt="instagram")
                li.social-media-li 
                    a(href="#").social-smedia-link 
                        img(src="img/icons/youtube.svg", alt="youtube")
            ul.breadcrumb
                a(href="./index.html") Головна сторінка           
                span Захисні поліуретанові плівки PPF      
            h1.h1 Захисні поліуретанові плівки PPF
            ul.langs-block 
                li.langs-item 
                    a(href="#").langs-link PL  
                li.langs-item 
                    a(href="#").langs-link En 
            a(href="mailto:info@brightfilms.pl").mail-link   info@brightfilms.pl      
section.ov-hidden
    .container.information-part
        .ordered-block
            h2.h2.element-animation Що таке захисні плівки PPF?
            .wrap-illustration.element-animation 
                img(src="img/illustrations/car-flu.webp", alt="flu-car")
            p.big-gray-text.element-animation Гібридні плівки (TPH) виготовлені на основі вінілової плівки, з нанесенням додаткового шару (TOP COAT), це дало змогу знизити собівартість матеріалу, залишаючи захисні якості як у поліуретанових плівок, але з меншим гарантійним терміном експлуатації.
        ul.about-list 
            li.about-item.element-animation 
                .wrap-about-img
                    img(src="img/icons/layer3.svg", alt="layout")
                p.about-text  Крім захисної функції сучасні плівки PPF, вироблені за передовими технологіями, мають додатковий захисний шар на поверхні плівки - TOP COAT. Це унікальна комбінація рідкого поліуретану з додавання різних хімічних сполук, спрямованих на досягнення ідеального естетичного вигляду плівки.   
            li.about-item.element-animation 
                .wrap-about-img
                    img(src="img/icons/layer2.svg", alt="layout")
                p.about-text  Захисні плівки Bright PPF виготовляються з гранул ТПУ найвищої якості. Про це свідчить відмінна прозорість, простота в установці та довготривала експлуатація.      
        p.bold-text Сучасний світ змінив уявлення про антигравійні плівки. Тепер це не лише прозорі плівки, а й кольорові, з різними візуальними ефектами та стайлінгові плівки. В залежності від потреби всі матеріали розділені на серії:
                        
.section 
    .container-no-end 
        .cards-box
            a(href="#").card.element-animation 
                .image-wrap 
                    img(src="img/illustrations/slider/1.webp", alt="slider-image")
                .slider-texts
                    p.card-header Захисні плівки Bright Clear PPF
                    p.card-bottom  Тип плівки: Поліуретанова плівка
            a(href="#").card.element-animation
                .image-wrap 
                    img(src="img/illustrations/slider/2.webp", alt="slider-image")
                .slider-texts
                    p.card-header Захисні плівки Bright Clear PPF
                    p.card-bottom  Тип плівки: Поліуретанова плівка
            a(href="#").card.element-animation 
                .image-wrap 
                    img(src="img/illustrations/slider/3.webp", alt="slider-image")
                .slider-texts
                    p.card-header Захисні плівки Bright Clear PPF  
                    p.card-bottom  Тип плівки: Поліуретанова плівка  
            a(href="#").card.element-animation
                .image-wrap 
                    img(src="img/illustrations/slider/4.webp", alt="slider-image")
                .slider-texts
                    p.card-header Захисні плівки Bright Clear PPF
                    p.card-bottom  Тип плівки: Поліуретанова плівка 
            a(href="#").card.element-animation 
                .image-wrap 
                    img(src="img/illustrations/slider/6.webp", alt="slider-image")
                .slider-texts
                    p.card-header Захисні плівки Bright Clear PPF 
                    p.card-bottom  Тип плівки: Поліуретанова плівка 
            a(href="#").card.element-animation
                .image-wrap 
                    img(src="img/illustrations/slider/8.webp", alt="slider-image")
                .slider-texts
                    p.card-header Захисні плівки Bright Clear PPF
                    p.card-bottom  Тип плівки: Поліуретанова плівка 
            a(href="#").card.element-animation 
                .image-wrap 
                    img(src="img/illustrations/slider/5.webp", alt="slider-image")
                .slider-texts
                    p.card-header Захисні плівки Bright Clear PPF 
                    p.card-bottom  Тип плівки: Поліуретанова плівка 
            a(href="#").card.element-animation
                .image-wrap 
                    img(src="img/illustrations/slider/7.webp", alt="slider-image")
                .slider-texts
                    p.card-header Захисні плівки Bright Clear PPF
                    p.card-bottom  Тип плівки: Поліуретанова плівка 
           
.section.full-width.white
        .describe-block
            .describe-item.element-animation 
                .describe-header 
                    .describe-image-wrap 
                        img(src="img/icons/fill-shield.svg", alt="shield")
                    p.describe-head Захист лакофарбового покриття
                p.describe-text PPF допомагає запобігти подряпинам і корозії, що можуть виникнути в результаті контакту з камінням, піщаними доріжками, сілью, комахами та іншими потенційно шкідливими факторами.
            .describe-item.element-animation 
                .describe-header 
                    .describe-image-wrap 
                        img(src="img/icons/fill-bint.svg", alt="shield")
                    p.describe-head Самозагоїння подряпин
                p.describe-text Деякі PPF мають властивість самозагоюватися від подряпин, що зберігає зовнішній вигляд покриття.
            .describe-item.element-animation 
                .describe-header 
                    .describe-image-wrap 
                        img(src="img/icons/fill-stars.svg", alt="shield")
                    p.describe-head Збереження вигляду
                p.describe-text Плівка захищає автомобіль від втрати блиску і кольору лакофарбового покриття під впливом сонячного випромінювання і інших агресивних чинників навколишнього середовища.
            .describe-item.element-animation 
                .describe-header 
                    .describe-image-wrap 
                        img(src="img/icons/fill-bin.svg", alt="shield")
                    p.describe-head Можливість видалення без залишків
                p.describe-text Плівку можна видалити без залишків на лакофарбовому покритті, якщо це необхідно.
            .describe-item.element-animation 
                .describe-header 
                    .describe-image-wrap 
                        img(src="img/icons/fill-devices.svg", alt="shield")
                    p.describe-head Легкість догляду
                p.describe-text PPF легко чистити і доглядати, і воно допомагає зберегти авто у стані нового протягом тривалого часу.
            .describe-item.element-animation 
                .describe-header 
                    .describe-image-wrap 
                        img(src="img/icons/fill-check.svg", alt="shield")
                    p.describe-head Лекість у встановленні
                p.describe-text Легкість у встановленні плівок робить процес захисту автомобіля простим і швидким.



