section 
    .l-main.big-container
        .main-content(data-image="img/illustrations/header.webp" data-responsive="img/illustrations/header-big.webp")
            ul.social-media-block 
                li.social-media-li
                    a(href="#").social-media-link
                        img(src="img/icons/fb.svg", alt="facebook")
                li.social-media-li 
                    a(href="#").social-media-link 
                        img(src="img/icons/insta.svg", alt="instagram")
                li.social-media-li 
                    a(href="#").social-smedia-link 
                        img(src="img/icons/youtube.svg", alt="youtube")
            ul.breadcrumb
                a(href="./index.html") Головна сторінка           
                span Каталог                
            h1.h1 Тонувальні плівки
            ul.langs-block 
                li.langs-item 
                    a(href="#").langs-link PL  
                li.langs-item 
                    a(href="#").langs-link En 
            a(href="mailto:info@brightfilms.pl").mail-link   info@brightfilms.pl      
section
    .container.information-part  
        h4.h4.element-animation.thin.centered-header.margin-bottom-norm Плівка для тонування “Bright” C Series
        ul.pros-list.margin-bottom-big.simple 
            li.pros-item.element-animation
                .pros-image-wrap 
                    img.pros-image(src="img/blue/1.svg", alt="flask")
                p.pros-text   Економія матеріалу та часу на встановлення
            li.pros-item.element-animation
                .pros-image-wrap 
                    img.pros-image(src="img/blue/22.svg", alt="flask")
                p.pros-text   Безпечна робота, лако-фарбове покриття в безпеці
            li.pros-item.element-animation
                .pros-image-wrap 
                    img.pros-image(src="img/blue/33.svg", alt="flask")
                p.pros-text   Можливість з легкістю самостійно редагувати лекала та форми 
            li.pros-item.element-animation
                .pros-image-wrap 
                    img.pros-image(src="img/blue/44.svg", alt="flask")
                p.pros-text   Понад 12000 моделей (автомобілі, мотоцикли та інтер'єри)
            li.pros-item.element-animation
                .pros-image-wrap 
                    img.pros-image(src="img/blue/55.svg", alt="flask")
                p.pros-text   Можливість з легкістю самостійно редагувати лекала та форми 
            li.pros-item.element-animation
                .pros-image-wrap 
                    img.pros-image(src="img/blue/66.svg", alt="flask")
                p.pros-text   Понад 12000 моделей (автомобілі, мотоцикли та інтер'єри)
        p.medium-text.element-animation.centered-header.decor-line.decor-line-centered Тонувальна плівка “Bright” C Series керамічна плівка з максимальним атермальним ефектом. Плівка виготовлена з нановуглецевого матеріалу за багатошаровою технологією, що забезпечує ідеальну прозорість, а також надійний захист від сонячного тепла.
.section 
    .container 
        .cards-box.margin-bottom-big
            a(href="#").card.element-animation 
                .image-wrap 
                    img(src="img/illustrations/slider/1.webp", alt="slider-image")
                .slider-texts
                    p.card-header С Series 05%           
            a(href="#").card.element-animation
                .image-wrap 
                    img(src="img/illustrations/slider/2.webp", alt="slider-image")
                .slider-texts
                    p.card-header С Series 05%
            a(href="#").card.element-animation 
                .image-wrap 
                    img(src="img/illustrations/slider/3.webp", alt="slider-image")
                .slider-texts
                    p.card-header С Series 05%
            a(href="#").card.element-animation 
                .image-wrap 
                    img(src="img/illustrations/slider/1.webp", alt="slider-image")
                .slider-texts
                    p.card-header С Series 05%           
            a(href="#").card.element-animation
                .image-wrap 
                    img(src="img/illustrations/slider/2.webp", alt="slider-image")
                .slider-texts
                    p.card-header С Series 05%
            a(href="#").card.element-animation 
                .image-wrap 
                    img(src="img/illustrations/slider/5.webp", alt="slider-image")
                .slider-texts
                    p.card-header С Series 05%   
            a(href="#").card.element-animation 
                .image-wrap 
                    img(src="img/illustrations/slider/6.webp", alt="slider-image")
                .slider-texts
                    p.card-header С Series 05%           
            a(href="#").card.element-animation
                .image-wrap 
                    img(src="img/illustrations/slider/7.webp", alt="slider-image")
                .slider-texts
                    p.card-header С Series 05%
            a(href="#").card.element-animation 
                .image-wrap 
                    img(src="img/illustrations/slider/8.webp", alt="slider-image")
                .slider-texts
                    p.card-header С Series 05%
.section
    .container
        .horizontal-list.margin-bottom-big
            .horizontal-item.round-sahadow 
                .image-place 
                    img(src="./img/blue/1.svg ", alt="")
                .text-place 
                    p.card-heading Захист лакофарбового покриття
                    p.text-in-card  PPF допомагає запобігти подряпинам і корозії, що можуть виникнути в результаті контакту з камінням, піщаними доріжками, сілью, комахами та іншими потенційно шкідливими факторами.   
            .horizontal-item.round-sahadow 
                .image-place 
                    img(src="./img/blue/2.svg ", alt="")
                .text-place 
                    p.card-heading Захист лакофарбового покриття
                    p.text-in-card  PPF допомагає запобігти подряпинам і корозії, що можуть виникнути в результаті контакту з камінням, піщаними доріжками, сілью, комахами та іншими потенційно шкідливими факторами.   
            .horizontal-item.round-sahadow 
                .image-place 
                    img(src="./img/blue/3.svg ", alt="")
                .text-place 
                    p.card-heading Захист лакофарбового покриття
                    p.text-in-card  PPF допомагає запобігти подряпинам і корозії, що можуть виникнути в результаті контакту з камінням, піщаними доріжками, сілью, комахами та іншими потенційно шкідливими факторами.   
            .horizontal-item.round-sahadow 
                .image-place 
                    img(src="./img/blue/4.svg ", alt="")
                .text-place 
                    p.card-heading Захист лакофарбового покриття
                    p.text-in-card  PPF допомагає запобігти подряпинам і корозії, що можуть виникнути в результаті контакту з камінням, піщаними доріжками, сілью, комахами та іншими потенційно шкідливими факторами.   
        h2.h2.thin.element-animation.centred.margin-bottom-big.centered-header.decor-line.decor-line-centered BRIGHT - створеній дбати про кожного.


