section 
    .l-main.big-container
        .main-content(data-image="img/illustrations/header.webp" data-responsive="img/illustrations/header-big.webp")
            ul.social-media-block 
                li.social-media-li
                    a(href="#").social-media-link
                        img(src="img/icons/fb.svg", alt="facebook")
                li.social-media-li 
                    a(href="#").social-media-link 
                        img(src="img/icons/insta.svg", alt="instagram")
                li.social-media-li 
                    a(href="#").social-smedia-link 
                        img(src="img/icons/youtube.svg", alt="youtube")
            ul.breadcrumb
                a(href="./index.html") Головна сторінка           
                span Каталог                
            h1.h1 Тонувальні плівки
            ul.langs-block 
                li.langs-item 
                    a(href="#").langs-link PL  
                li.langs-item 
                    a(href="#").langs-link En 
            a(href="mailto:info@brightfilms.pl").mail-link   info@brightfilms.pl      
section
    .container.information-part 
        h2.h2.element-animation.thin Плівка для тонування “Bright” C Series
        p.big-gray-text.element-animation Тонувальна плівка “Bright” C Series керамічна плівка з максимальним атермальним ефектом. Плівка виготовлена з нановуглецевого матеріалу за багатошаровою технологією, що забезпечує ідеальну прозорість, а також надійний захист від сонячного тепла.
            .two-cols    
                .col 
                    ul.pros-list 
                        li.pros-item.element-animation
                            .pros-image-wrap 
                                img.pros-image(src="img/icons/shield2.svg", alt="lightning")
                            p.pros-text   Cтійке до подряпин покриття  
                        li.pros-item.element-animation
                            .pros-image-wrap 
                                img.pros-image(src="img/icons/molecula.svg", alt="drops")
                            p.pros-text   Гранули кольору з наночастинками
                        li.pros-item.element-animation
                            .pros-image-wrap 
                                img.pros-image(src="img/icons/clue.svg", alt="stras")
                            p.pros-text   Ультра прозорий клейовий шар 
                .col
                    ul.pros-list 
                        li.pros-item.element-animation
                            .pros-image-wrap 
                                img.pros-image(src="img/icons/layer.svg", alt="flask")
                            p.pros-text   Полімер з нанокерамічним матеріалом
                        li.pros-item.element-animation
                            .pros-image-wrap 
                                img.pros-image(src="img/icons/molecula2.svg", alt="line")
                            p.pros-text   Полімер з нановуглецевим матеріалом
                        li.pros-item.element-animation
                            .pros-image-wrap 
                                img.pros-image(src="img/icons/layer2.svg", alt="shield")
                            p.pros-text   Підкладка
.section 
    .container-no-end 
        .cards-box
            a(href="#").card.element-animation 
                .image-wrap 
                    img(src="img/illustrations/slider/1.webp", alt="slider-image")
                .slider-texts
                    p.card-header С Series 05%           
            a(href="#").card.element-animation
                .image-wrap 
                    img(src="img/illustrations/slider/2.webp", alt="slider-image")
                .slider-texts
                    p.card-header С Series 05%
            a(href="#").card.element-animation 
                .image-wrap 
                    img(src="img/illustrations/slider/3.webp", alt="slider-image")
                .slider-texts
                    p.card-header С Series 05%
            a(href="#").card.element-animation 
                .image-wrap 
                    img(src="img/illustrations/slider/1.webp", alt="slider-image")
                .slider-texts
                    p.card-header С Series 05%           
            a(href="#").card.element-animation
                .image-wrap 
                    img(src="img/illustrations/slider/2.webp", alt="slider-image")
                .slider-texts
                    p.card-header С Series 05%
            a(href="#").card.element-animation 
                .image-wrap 
                    img(src="img/illustrations/slider/5.webp", alt="slider-image")
                .slider-texts
                    p.card-header С Series 05%   
            a(href="#").card.element-animation 
                .image-wrap 
                    img(src="img/illustrations/slider/6.webp", alt="slider-image")
                .slider-texts
                    p.card-header С Series 05%           
            a(href="#").card.element-animation
                .image-wrap 
                    img(src="img/illustrations/slider/7.webp", alt="slider-image")
                .slider-texts
                    p.card-header С Series 05%
            a(href="#").card.element-animation 
                .image-wrap 
                    img(src="img/illustrations/slider/8.webp", alt="slider-image")
                .slider-texts
                    p.card-header С Series 05%
.section.full-width.white
    .describe-block
        .describe-item.element-animation 
            .describe-header 
                .describe-image-wrap 
                    img(src="img/icons/fill-shield.svg", alt="shield")
                p.describe-head Захист лакофарбового покриття
            p.describe-text PPF допомагає запобігти подряпинам і корозії, що можуть виникнути в результаті контакту з камінням, піщаними доріжками, сілью, комахами та іншими потенційно шкідливими факторами.
        .describe-item.element-animation 
            .describe-header 
                .describe-image-wrap 
                    img(src="img/icons/fill-bint.svg", alt="shield")
                p.describe-head Самозагоїння подряпин
            p.describe-text Деякі PPF мають властивість самозагоюватися від подряпин, що зберігає зовнішній вигляд покриття.
        .describe-item.element-animation 
            .describe-header 
                .describe-image-wrap 
                    img(src="img/icons/fill-stars.svg", alt="shield")
                p.describe-head Збереження вигляду
            p.describe-text Плівка захищає автомобіль від втрати блиску і кольору лакофарбового покриття під впливом сонячного випромінювання і інших агресивних чинників навколишнього середовища.
        .describe-item.element-animation 
            .describe-header 
                .describe-image-wrap 
                    img(src="img/icons/fill-bin.svg", alt="shield")
                p.describe-head Можливість видалення без залишків
            p.describe-text Плівку можна видалити без залишків на лакофарбовому покритті, якщо це необхідно.
        .describe-item.element-animation 
            .describe-header 
                .describe-image-wrap 
                    img(src="img/icons/fill-devices.svg", alt="shield")
                p.describe-head Легкість догляду
            p.describe-text PPF легко чистити і доглядати, і воно допомагає зберегти авто у стані нового протягом тривалого часу.
        .describe-item.element-animation 
            .describe-header 
                .describe-image-wrap 
                    img(src="img/icons/fill-check.svg", alt="shield")
                p.describe-head Лекість у встановленні
            p.describe-text Легкість у встановленні плівок робить процес захисту автомобіля простим і швидким.



